<template>
  <div>
    <div class="clearfix"></div>

    <div class="row justify-content-center">
      <div class="col-md-12">
        <b-alert
          variant="success"
          dismissible
          fade
          :show="showAlert"
          @dismissed="showAlert=false"
        >Data Berhasil diupdate !</b-alert>
        <b-input-group
          class="mt-3 mb-3"
          size="sm"
        >
          <b-form-input
            v-model="keyword"
            placeholder="Search"
            type="text"
          ></b-form-input>
          <b-btn
            class="p-0"
            :disabled="!keyword"
            variant="link"
            size="sm"
            @click="(keyword = '')"
          ></b-btn>
        </b-input-group>
        <b-overlay
          :show="showOverlay"
          rounded="sm"
        >
          <b-table
            small
            responsive
            :items="filteredTables"
            striped
            hover
            bordered
            :fields="tableData"
            :per-page="perPage"
            :current-page="currentPage"
            @row-clicked="editSettings"
            @row-hovered="rowHovered"
          >
            <template v-slot:cell(value)="item">
              {{ item.value.length >20 ? item.value.substr(0,50)+'...' : item.value }}

            </template>

            <template
              slot="controls"
              slot-scope="row"
            >
              <b-button
                size="sm"
                v-show="isHovered(row.item)"
                @click="buttonClicked(row.item)"
              >Click me</b-button>
            </template>
          </b-table>
          <b-pagination
            v-if="filteredTables != null && filteredTables.length != 0"
            :total-rows="filteredTables.length"
            :per-page="perPage"
            align="fill"
            v-model="currentPage"
          />
          <template v-slot:overlay>
            <div class="text-center">
              <Origami></Origami>
            </div>
          </template>
        </b-overlay>
        <b-modal
          id="modalEditSetting"
          v-if="editData != null"
          @ok="updateSettings"
          @cancel="closeModal"
        >
          <template v-slot:modal-header>
            <h5>Editing: {{editData.name}}</h5>
          </template>
          <b-form-group>
            <b-form-input
              id="value"
              size="sm"
              v-model="editData.value"
              trim
            ></b-form-input>
            <b-form-text text-variant="danger">{{editData.description}}</b-form-text>
          </b-form-group>
        </b-modal>

        <!-- <table class="table table-striped table-hover" v-if="tableItems !== null">
          <thead>
            <tr>
              <th scope="col">Settings Name</th>
              <th scope="col">Settings Value</th>
              <th scope="col">Description</th>
            </tr>
          </thead>
          <tr v-for="(item, index) in filteredTable" :key="index" @click="editSettings(item)">
            <td>{{ item.name }}</td>
            <td>{{ item.value }}</td>
            <td>
              <small>{{ item.description }}</small>
            </td>
          </tr>
        </table>-->
      </div>
    </div>
  </div>
</template>

<script>
import Origami from "vue-loading-spinner/src/components/Origami";
export default {
  components: {
    Origami
  },
  data () {
    return {
      currentPage: 1,
      perPage: 10,
      keyword: "",
      showAlert: false,
      loading: false,
      editData: null,
      tableItems: null,
      hoveredRow: null,
      tableData: [
        {
          key: "name",
          name: "optionName",
          label: "Settings Name",
          sortable: true,
          thClass: "text-left"
        },
        {
          key: "value",
          name: "optionValue",
          label: "Settings Value",
          sortable: true,
          thClass: "text-center",
          tdClass: "text-center small text-wrap"
        }
        // {
        //   key: "description",
        //   name: "optionDesc",
        //   label: "Description",
        //   sortable: true,

        //   thClass: "text-left",
        //   tdClass: "text-center small"
        // }
      ]
    };
  },
  computed: {
    showOverlay () {
      if (this.loading == true) {
        return true;
      }
      if (this.tableItems == null) {
        return true;
      } else {
        return false;
      }
    },
    filteredTables () {
      return this.keyword
        ? this.tableItems.filter(
          item =>
            item.name.toLowerCase().includes(this.keyword.toLowerCase())
            // ||
            // item.value.toLowerCase().includes(this.keyword.toLowerCase())
        )
        : this.tableItems;
    }
  },
  mounted: function () {
    var vm = this;
    axios.get("/api/settings/list").then(function (response) {
      if (response.status == 200) {
        vm.tableItems = response.data;
        // console.log(vm.tableItems);
      } else {
      }
    });
  },
  methods: {
    buttonClicked (item) {
      alert("Clicked on item" + JSON.stringify(item));
    },
    rowHovered (item) {
      this.hoveredRow = item;
      // this.$refs.table.refresh();
    },
    isHovered (item) {
      return item == this.hoveredRow;
    },
    editSettings (item) {
      (this.editData = item), this.$bvModal.show("modalEditSetting");
      // this.loading = true;
      // console.log(item);
    },
    closeModal () {
      this.loading = false;
    },
    updateSettings () {
      var vm = this;
      this.loading = true;
      console.log(this.editData);
      axios
        .post("/api/settings/update", this.editData)
        .then(function (response) {
          if (response.status == 200) {
            vm.showAlert = true;
          }
        });
      vm.loading = false;
    },
    hoverRowHandle (item) {
      item.toggleDetails;
      console.log(item);
    }
  }
};
</script>

<style>
</style>
