<template>
  <div>
    <h2 class="text-primary mb-3 text-center">{{ form.location }} Banner</h2>
    <b-button
      class="mb-3"
      variant="success"
      @click="updateData"
      block
    >UPDATE</b-button>
    <custom-html
      v-if="isReady!=false"
      v-model="form.html"
      v-on:htmlUpdate="updateHtml"
    ></custom-html>

  </div>
</template>

<script>
// import Axios from 'axios'

export default {

  data () {
    return {
      isReady: false,
      form: {
        name: 'newposition',
        html: null,
        id: 'new',
        location: ''

      }

    }
  },
  created () {
    this.fetchData()
  },
  mounted () {
    this.form.location = this.$route.params.position

  },
  methods: {
    showNotif (variant = null, title = 'default', msg = 'default', append = false) {

      this.$bvToast.toast(msg, {
        title: title,
        autoHideDelay: 5000,
        variant: variant,
        appendToast: append
      })
    },
    fetchData () {
      var vm = this
      axios.get('/api/banner/details/' + this.$route.params.position)
        .then(function (response) {
          if (response.data.success == true) {
            console.log(response.data.data)
            vm.form = response.data.data
            vm.isReady = true
          } else {
            if (response.data.action == 'createNew') {
              vm.form = {
                html: "<! –– ISI DIBAWAH ––>",
                id: "new",
                location: vm.$route.params.position,
                name: 'Banner ' + vm.$route.params.position
              }
              vm.isReady = true
            }
          }

        }).catch(function (error) {
          console.log(error)
        })

    },
    updateData () {
      var vm = this

      axios.post('/api/banner/add', this.form).then(function (response) {
        if (response.data.success == true) {
          vm.showNotif('success', 'Sukes', 'Berhasil Update Banner')
        }
      }).catch(function (error) {
        console.log(error)
      })



    },
    updateHtml (value) {
      this.form.html = value
      //   console.log(this.form)

    }
  },

}
</script>

<style>
</style>
