.banner-floating {
  text-align: center;
  display: block;
  max-width: 728px;
  height: auto;
  overflow: hidden;
  margin: auto;
}

.banner-floating a img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

.stickyfooter {
  height: auto;
  width: 100%;
  position: fixed;
  bottom: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

#fixedban {
  margin: -4px;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
:after,
:before {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0 0 70px 0;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 100%;
  color: #fff;
  background-color: #1a1d22;
  height: 100%;
  min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  font-weight: 700;
}

.content h1,
.content h2,
.content h3,
.content h4,
.content h5,
.content h6 {
  margin: 0.5em 0;
  padding: 0;
  font-weight: 700;
}

a {
  text-decoration: underline;
  color: #fff;
}

p {
  margin: 0;
  font-weight: 400;
}

img {
  max-width: 100%;
}

input {
  outline: 0;
  padding: 0;
}

.center-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
  background-position: center top;
  background-repeat: no-repeat;
  padding: 0 20px 20px 20px;
  position: relative;
}

.main-container {
  width: 100%;
  max-width: 75em;
  background-color: transparent;
  position: relative;
}

.notif-modal {
  background: rgba(26, 29, 34, 0.95);
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
  -webkit-animation: hidden 0.3s forwards;
          animation: hidden 0.3s forwards;
  z-index: 20;
}

.notif-modal .modal-container {
  position: relative;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0 18px 51px -21px rgba(0, 0, 0, 0.75);
  box-shadow: 0 18px 51px -21px rgba(0, 0, 0, 0.75);
}

.notif-modal .modal-container img {
  height: 60vh;
  width: initial;
  display: block;
}

[for="olmclose"] img {
  max-width: 30px;
}

[for="olmclose"] {
  position: absolute;
  left: 101%;
  bottom: 53%;
  cursor: pointer;
  z-index: 10;
}

#open:checked + .notif-modal .modal-container {
  -webkit-animation: show2 10.3s forwards;
          animation: show2 10.3s forwards;
}

#open:checked + .notif-modal {
  pointer-events: auto;
  opacity: 0;
  -webkit-animation: show 10s forwards;
          animation: show 10s forwards;
}

input.notif-radio {
  display: none;
}

@-webkit-keyframes show {
  0% {
    opacity: 0;
    top: -200%;
    right: -200%;
  }
  97% {
    opacity: 0;
  }
  98% {
    opacity: 0;
    top: 0;
    right: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes show {
  0% {
    opacity: 0;
    top: -200%;
    right: -200%;
  }
  97% {
    opacity: 0;
  }
  98% {
    opacity: 0;
    top: 0;
    right: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes show2 {
  0% {
    opacity: 0;
  }
  97% {
    opacity: 0;
  }
  98% {
    top: -30px;
    opacity: 0;
  }
  100% {
    opacity: 1;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
}

@keyframes show2 {
  0% {
    opacity: 0;
  }
  97% {
    opacity: 0;
  }
  98% {
    top: -30px;
    opacity: 0;
  }
  100% {
    opacity: 1;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
}

@-webkit-keyframes hidden {
  0% {
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 1;
  }
  99% {
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
  }
  100% {
    top: -200%;
    left: 0;
    bottom: 0;
    right: -200%;
    opacity: 0;
    display: none;
  }
}

@keyframes hidden {
  0% {
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 1;
  }
  99% {
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
  }
  100% {
    top: -200%;
    left: 0;
    bottom: 0;
    right: -200%;
    opacity: 0;
    display: none;
  }
}

.loading-number {
  margin: 10px 0;
  padding: 10px 30px;
  border: 2px dotted #fdd600;
  border-radius: 100px;
  text-align: center;
}

.loading-number img.refresh {
  cursor: pointer;
}

.loading-number span {
  font-weight: 700;
}

.onload-modal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  z-index: 10;
  background: rgba(0, 0, 0, 0.95);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100vw;
  height: 100vh;
  top: -2000%;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 20;
  overflow: hidden;
}

.onload-modal .modal-container {
  position: relative;
  text-align: center;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 80%;
  height: 85%;
  -webkit-transform: translateY(3%);
          transform: translateY(3%);
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 10px 20px 10px 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  background-color: #272c32;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.75);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.75);
}

.onload-modal .close img {
  max-width: 40px;
}

.onload-modal .close {
  position: absolute;
  left: calc(100% - 30px);
  top: -45px;
  cursor: pointer;
  z-index: 10;
  width: 40px;
}

.onload-modal.opened {
  -webkit-animation: show 0.3s forwards;
          animation: show 0.3s forwards;
}

input.onload-radio {
  display: none;
}

@keyframes show {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0;
    top: 0;
    right: 0;
  }
  100% {
    opacity: 1;
    top: 0;
    right: 0;
  }
}

.blink_me {
  font-size: 1.5em;
  font-weight: 700;
  display: block;
  margin-bottom: 10px;
}

.iplink {
  font-size: 2em;
  font-weight: 700;
}

.apkcomingsoon {
  opacity: 0.3;
  width: 150px;
}

.comingsoonapp {
  opacity: 0.5;
  font-size: 0.8em;
}

.tggabung {
  width: 200px;
}

.onload-modal .modal-container hr {
  width: 90%;
  opacity: 0.4;
  border-top: 1px solid #ff0;
}

.downloadrajaimg {
  height: 60vh;
}

.downloadrajafooter {
  vertical-align: middle;
}

.thank-you-survey-title {
  display: block;
  text-align: center;
  color: #82dc57;
  font-weight: 700;
  font-size: 1.3em;
  padding-bottom: 20px;
}

.winner img {
  background: #fff;
  border-radius: 100%;
  padding: 4px;
  margin-right: 10px;
}

.winner span {
  font-weight: 400;
  font-size: 0.8em;
}

.winner {
  cursor: pointer;
  position: relative;
  font-weight: 400;
  font-size: 14px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-bottom: 10px;
  background: linear-gradient(173deg, #1f4fbc 0, #092d59 100%);
  padding: 10px;
  border-left: #96c8fb 3px solid;
  border-radius: 3px;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
  font-weight: 700;
  color: #fff;
}

.winner div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.nav {
  display: -ms-grid;
  display: grid;
  position: relative;
  z-index: 2;
  -ms-grid-columns: 150px 1fr;
      grid-template-columns: 150px 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

ul.top-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
}

ul.top-nav li {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin: 0 8px;
  font-weight: 700;
  color: #000;
  font-size: 0.9em;
}

ul.top-nav li:first-child {
  margin-left: 0;
}

ul.top-nav li a {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-decoration: none;
  font-weight: 700;
  font-size: 0.8em;
  color: #fff;
  text-transform: uppercase;
}

ul.top-nav li a.social-icons {
  display: block;
  width: 40px;
  text-align: center;
  font-size: 0.5em;
}

ul.top-nav li a:hover {
  text-decoration: underline;
}

.mobile-menu-icon {
  display: initial;
  cursor: pointer;
  width: 40px;
  height: 40px;
}

.mobileoverlay {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  overflow-y: auto;
  overflow-x: hidden;
  background-color: black;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  z-index: 100;
}

.mobileoverlay.open {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  background-color: black;
}

.close-mobilnav {
  position: absolute;
  right: 30px;
  top: 30px;
  cursor: pointer;
  z-index: 101;
}

.close-mobilnav img {
  width: 50px;
}

.mobileoverlay ul.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 20px;
}

.mobileoverlay ul.nav li {
  text-align: center;
  width: 100%;
  display: block;
  margin: 1vh 0;
  font-weight: 700;
  font-size: 1em;
}

.mobileoverlay ul.nav li a {
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
  text-decoration: none;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  text-align: left;
  font-size: 1em;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.mobileoverlay ul.nav li a.social-icons {
  color: #feb821;
}

.mobileoverlay ul.nav li a:hover {
  color: #feb821;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}

.results-container h1 {
  font-size: 1.5em;
}

.results-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
}

.results-placement-horz1 {
  grid-column: 1/-1;
  text-align: center;
}

.results-placement-horz2 {
  grid-column: 1/-1;
  text-align: center;
}

.results-item {
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #1f242a), to(#2a2f37));
  background: linear-gradient(0deg, #1f242a 0, #2a2f37 100%);
  border-radius: 5px;
  -webkit-box-shadow: 0 0 18px 0 rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 18px 0 rgba(0, 0, 0, 0.5);
}

.results-item a {
  text-decoration: none;
}

.results-country {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  padding: 20px;
  height: 80px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #555c68;
}

.results-country img {
  width: 60px;
  display: block;
}

.results-country span {
  text-align: center;
  font-size: 1.3em;
  width: 100%;
}

span.none {
  display: none;
}

.results-result {
  text-shadow: 0 3px 10px rgba(0, 0, 0, 0.8);
  -webkit-box-shadow: 0 3px 10px rgba(0, 0, 0, 0.8);
          box-shadow: 0 3px 10px rgba(0, 0, 0, 0.8);
  letter-spacing: 0.1em;
  display: block;
  width: 100%;
  font-weight: 700;
  background-size: 100%;
  background-position: center center;
  padding: 30px;
  font-size: 3em;
  color: #fff;
  text-align: center;
}

.prediksi-result {
  text-shadow: 0 3px 10px rgba(0, 0, 0, 0.8);
  -webkit-box-shadow: 0 3px 10px rgba(0, 0, 0, 0.8);
          box-shadow: 0 3px 10px rgba(0, 0, 0, 0.8);
  letter-spacing: 0.1em;
  display: block;
  width: 100%;
  font-weight: 700;
  background-size: 100%;
  background-position: center center;
  background-size: cover;
  padding: 30px;
  font-size: 2em;
  color: #fff;
  text-align: center;
}

.results-meta {
  background-color: #616a7b;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 15px 20px;
}

.results-meta span {
  display: block;
  width: 100%;
  text-align: center;
  font-weight: 700;
}

.results-history {
  padding: 20px;
}

.results-history .more {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 15px 0 0 0;
}

.results-history .title {
  font-size: 1.5em;
  font-weight: 700;
  text-align: center;
  display: block;
  line-height: 100%;
}

.results-history .title img {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

.results-history div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 5px 0;
  font-size: 0.8em;
}

.results-history div span {
  margin-left: auto;
  font-weight: 700;
}

.button {
  padding: 10px 15px;
  font-weight: 700;
  display: block;
  border-radius: 5px;
  font-size: 1em;
  text-align: center;
  background-color: #0f0f0f;
  color: #000;
  text-decoration: none;
}

.button.yellow {
  background-color: #fdd600;
}

.button.yellow.inline {
  display: inline-block;
}

.country-results .country-wrapper {
  position: relative;
}

.single-title {
  font-size: 1.1em;
  font-weight: 700;
  text-align: center;
  margin: 0 0 15px 0;
}

.row {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 1fr 1fr;
      grid-template-columns: 2fr 1fr 1fr;
  border: 1px solid #5f5e5e;
  font-size: 0.8em;
  border-radius: 5px;
  margin: 2px 0;
}

.row.header {
  background-color: #25292f;
}

.row.latest {
  background-color: #4a7644;
}

.row div {
  padding: 6px;
}

.country-results .country-wrapper .country-name {
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid #1b5015;
  padding: 10px;
}

.country-results .country-wrapper .country-name span {
  font-size: 1em;
  display: block;
  padding: 0 20px;
}

.country-results .country-wrapper .country-name h5 {
  margin-left: auto;
  font-weight: 400;
  text-align: right;
}

.country-results .country-wrapper .country-name h5 b {
  color: #ff0;
}

.country-results .country-wrapper .country-name img {
  width: 45px;
}

img.pasar-logo {
  max-height: 60px;
  margin: 0.5em 0;
}

.country-result-hair-ini {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 20px 0 30px 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.country-result-hair-ini h5 {
  margin-top: 10px;
}

.country-result-hair-ini h1 {
  background: url("https://cdn.telejudi.com/rh/images/green_fade.svg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center center;
  text-align: center;
  font-size: 2.4em;
  letter-spacing: 0.2em;
  padding: 25px;
  color: #fff;
  font-weight: 700;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.8);
}

.join-telegramgroup-wrapper {
  background: linear-gradient(52deg, #2c51dc 0, #3c62f1 100%);
  background: #2c51dc;
  border-radius: 5px;
}

@-webkit-keyframes bgscroll {
  from {
    background-position: 60% 0;
  }
  to {
    background-position: 50% -2000px;
  }
}

.join-telegramgroup-logo {
  background-image: url(https://cdn.telejudi.com/rh/raja_logo_bg_tg.png);
  background-position: left;
  background-repeat: no-repeat;
  background-size: contain;
}

.join-telegramgroup-chatbubbles {
  background-image: url(https://cdn.telejudi.com/rh/chat_bubbles.png);
  -webkit-animation: bgscroll 30s infinite linear;
  background-repeat: repeat-y;
  background-size: 40%;
}

.join-telegramgroup {
  border-radius: 5px;
  background-image: url(https://cdn.telejudi.com/rh/join-tg.png);
  background-position: right;
  background-repeat: no-repeat;
  background-size: contain;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  text-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  font-size: 1.7em;
  font-weight: 700;
  padding: 0 10px;
  width: 100%;
  height: 160px;
  -webkit-box-shadow: 0 7px 15px rgba(0, 0, 0, 0.5);
          box-shadow: 0 7px 15px rgba(0, 0, 0, 0.5);
}

.join-telegramgroup span {
  display: block;
  width: 100%;
}

.join-telegramgroup a {
  margin: 0;
  text-shadow: none;
  -webkit-box-shadow: 0 7px 15px rgba(0, 0, 0, 0.5);
          box-shadow: 0 7px 15px rgba(0, 0, 0, 0.5);
  font-weight: 700;
  font-size: 0.8em;
}

@media only screen and (max-width: 640px) {
  .join-telegramgroup {
    font-size: 1.4em;
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 130px;
    background-position: 150%;
  }
  .join-telegramgroup-chatbubbles {
    background: 0 0;
  }
}

.best-bandar {
  text-align: center;
  color: #e0dfdc;
}

.best-bandar span {
  font-size: 0.8em;
  font-weight: 400;
  color: #ff0;
  font-style: italic;
}

.bandar-rank {
  margin: 0 0 0.5em 0;
  padding: 1em 0.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.bandar-rank-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid #4a7644;
  border-radius: 5px;
  width: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: relative;
  margin: 0.2em 0;
}

.bandar-rank-row > div {
  padding: 5px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bandar-rank-row div:first-child {
  background-color: #4a744e;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 700;
  position: relative;
}

.bandar-rank-row div:nth-child(2) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  position: relative;
}

.comingsoon {
  color: #4a7644;
}

.bandar-rank-row.top1 {
  background: -webkit-linear-gradient(bottom, #82dc57, #16ba89);
}

.bandar-rank-row.top2 {
  background-color: #4a7644;
}

.bandar-rank-row.top3 {
  background-color: #3a5237;
}

.bandar-rank-row div:first-child {
  margin: 5px;
  max-width: 50px;
  border-radius: 5px;
  background-color: #575a5f;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 700;
}

.star-rating {
  color: #ff0;
}

span.new-bandar {
  background-color: gold;
  padding: 3px 5px;
  display: inline-block;
  position: relative;
  margin-left: 6px;
  color: #000;
  font-weight: 700;
  border-radius: 3px;
  font-size: 0.6em;
  background-image: -webkit-gradient(linear, left top, right top, color-stop(33%, transparent), color-stop(50%, rgba(255, 255, 255, 0.8)), color-stop(66%, transparent));
  background-image: linear-gradient(to right, transparent 33%, rgba(255, 255, 255, 0.8) 50%, transparent 66%);
  background-size: 300% 100%;
  -webkit-animation: shine 2s infinite;
          animation: shine 2s infinite;
  -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.8);
          box-shadow: 0 0 4px rgba(0, 0, 0, 0.8);
}

@-webkit-keyframes shine {
  0% {
    background-position: right;
  }
}

@keyframes shine {
  0% {
    background-position: right;
  }
}

.daftar-bandar {
  background-color: #4a7644;
  border-radius: 4px;
  margin-left: auto;
  text-decoration: none;
  padding: 8px 12px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.8em;
  text-align: center;
}

.daftar-bandar.full {
  width: 100%;
}

.daftar-bandar.top1 {
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
  background: linear-gradient(251deg, #ee5221, #b72226, orange);
  background-size: 600% 600%;
  -webkit-animation: AnimationName 3s ease infinite;
  animation: AnimationName 3s ease infinite;
}

.daftar-bandar.top2 {
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
  background: #ce8500;
}

.daftar-bandar.top3 {
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
  background: #499a1d;
}

@-webkit-keyframes AnimationName {
  0% {
    background-position: 0 62%;
  }
  50% {
    background-position: 100% 39%;
  }
  100% {
    background-position: 0 62%;
  }
}

@keyframes AnimationName {
  0% {
    background-position: 0 62%;
  }
  50% {
    background-position: 100% 39%;
  }
  100% {
    background-position: 0 62%;
  }
}

.bandar-list-row.header {
  border: 0;
  font-weight: 700;
  font-size: 0.6em;
  background: 0 0;
}

.bandar-list-row.header div:first-child {
  background: 0 0;
}

.bandar-list-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  border: 1px solid #575a5f;
  border-radius: 5px;
  width: 100%;
  margin: 0.7em 0;
  font-size: 1em;
}

.bandar-list-row.top1 {
  background: -webkit-linear-gradient(bottom, #82dc57, #16ba89);
}

.bandar-list-row.top2 {
  background-color: #4a7644;
}

.bandar-list-row.top3 {
  background-color: #3a5237;
}

.bandar-list-row > div {
  padding: 5px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 100%;
}

.bandar-list-row div:first-child {
  margin: 5px;
  max-width: 50px;
  border-radius: 5px;
  background-color: #575a5f;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 700;
}

.bandar-list-row div:last-child {
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.bandar-list-row div:last-child a {
  padding: 15px;
  font-size: 1.4em;
  letter-spacing: 0.2em;
}

.bandar-list-row div:last-child a.big {
  padding: 20px 15px;
  font-size: 1.5em;
  letter-spacing: 0.2em;
}

.bandar-title {
  font-weight: 700;
  font-size: 1.2em;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
}

.bandar-list-row div:nth-child(5) img {
  width: 20px;
  padding: 3px;
}

@media only screen and (max-width: 640px) {
  .bandar-list-row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .bandar-list-row div:first-child {
    border-radius: 5px;
  }
  .bandar-list-row div:nth-child(2) {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
  .bandar-list-row div:nth-child(5) {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  .bandar-list-row div {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }
  .bandar-list-row.header {
    display: none;
  }
  .bandar-list-row div:last-child {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  .bandar-list-row div:nth-child(3):before {
    content: "Min Dp: ";
    margin-right: 5px;
    font-size: 0.8em;
    font-family: arial;
    opacity: 0.5;
  }
}

.jointotoplacement img {
  width: 100%;
  max-width: 600px;
}

.jointotoplacement {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.single-title {
  font-size: 1.4em;
  font-style: italic;
  font-weight: 700;
  text-align: center;
  color: #82dc57;
  margin: 5px;
}

.country-result-today h3 span.code {
  text-transform: uppercase;
  display: inline-block;
}

.country-result-today h3 {
  font-size: 1.2em;
  color: #fff;
  margin: 10px 0 0 0;
  text-align: center;
  font-weight: 400;
}

.country-result-today h3 span {
  display: block;
  font-size: 0.8em;
}

.frequency-cointainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: wrap;
      flex-flow: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  margin: 10px 0;
}

.frequency-cointainer h1 {
  width: 100%;
  font-size: 1.1em;
  font-style: italic;
  font-weight: 700;
  text-align: center;
  color: #82dc57;
  margin: 10px 0;
}

.frequency-card {
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #1f242a), to(#2a2f37));
  background: linear-gradient(0deg, #1f242a 0, #2a2f37 100%);
  border-radius: 5px;
  height: auto;
  padding: 5px;
  margin: 5px;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 21%;
          flex: 1 0 21%;
}

@media only screen and (max-width: 960px) {
  .frequency-card {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 42%;
            flex: 1 0 42%;
  }
}

@media only screen and (max-width: 640px) {
  .frequency-card {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 100%;
            flex: 1 0 100%;
  }
}

.frequency-graph {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-bottom: 8px;
  height: 200px;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.frequency-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 10%;
  margin: 0 2px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  font-size: 0.7em;
  height: 200px;
}

.frequency-bar .bar {
  display: block;
  text-align: center;
  background: -webkit-linear-gradient(top, #82dc57, #16ba89);
  width: 100%;
  border-radius: 3px;
  margin: 0;
  height: 0;
  -webkit-transition: height 0.5s;
  transition: height 0.5s;
}

.frequency-bar .bar div {
  font-size: 8px;
  color: #000;
  font-weight: 700;
}

.frequency-bar .number {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.frequency-card .position {
  text-align: center;
  font-weight: 700;
  font-size: 2em;
}

.shio-table {
  width: 100%;
  -webkit-box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.3);
          box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.3);
  text-align: center;
  margin-bottom: 20px;
  border: 0;
}

.shio-table {
  border: 1.5px solid #2a2f37;
}

.shio-table td {
  padding: 10px;
  border: 0 solid;
}

.shio-table td.head {
  color: #fff;
  background: #2a2f37;
  width: 30%;
}

.shio-table td.data-shio {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 100%;
}

.shio-table td .bar {
  display: block;
  text-align: right;
  color: #fff;
  padding: 5px;
  font-size: 1em;
  background: -webkit-linear-gradient(top, #82dc57, #16ba89);
  border-radius: 2px;
  margin: 0;
  height: 100%;
  -webkit-transition: width 0.5s;
  transition: width 0.5s;
  -webkit-box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.3);
          box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.3);
}

.ik-container img {
  width: 100%;
}

.ik-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  margin: 20px 0;
  grid-gap: 20px;
}

.ik-container .long {
  grid-column: span 2;
}

.blog-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  margin: 20px 0;
  grid-gap: 20px;
}

.blog-item {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto auto;
      grid-template-rows: auto auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  background-color: #2d3139;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 18px 0 rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 18px 0 rgba(0, 0, 0, 0.5);
}

.blog-item div.thumb a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
}

.blog-item div.thumb {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  position: relative;
  background-size: cover;
  padding-top: 56.25%;
}

.blog-item div.content {
  padding: 15px;
  position: relative;
}

.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
  background-color: #1a1d22;
}

.embed-container embed,
.embed-container iframe,
.embed-container object {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.article-container.fluid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.article-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 300px;
      grid-template-columns: 1fr 300px;
  grid-gap: 20px;
}

.article-container article {
  display: block;
  padding-bottom: 10px;
  background-color: #2d3139;
  border-radius: 5px;
}

.article-container article .content {
  padding: 20px;
  line-height: 150%;
}

.share-bar h3 {
  width: 100%;
  text-align: center;
}

.share-bar {
  padding: 15px;
  background-color: #424955;
  border-radius: 5px;
  margin: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.share-bar a {
  padding: 10px;
  background-color: #6d90ca;
  margin: 5px;
  border-radius: 50px;
}

.share-bar img {
  display: block;
  width: 30px;
}

.article-container .sidebar {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  grid-gap: 10px;
  -ms-flex-line-pack: start;
      align-content: flex-start;
}

.table-wrapper {
  overflow: hidden;
  overflow-x: scroll;
  overflow-y: scroll;
  position: relative;
  width: 100%;
  height: 550px;
}

.pred-table table {
  font-size: 0.8em;
  margin-bottom: 20px;
}

.prediksi-table {
  border-collapse: collapse;
  margin-bottom: 5px;
  width: 100%;
}

.prediksi-table td {
  width: 50%;
}

.prediksi-table th {
  font-size: 1.2em;
  color: #fff;
}

.prediksi-table,
td,
th {
  text-align: center;
  font-weight: 700;
  color: white;
}

.single-share {
  margin-left: auto;
}

.single-share a {
  text-decoration: none;
  margin-left: 15px;
}

.single-share a img {
  width: 20px !important;
  display: inline-block;
}

.country-desc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #2d3139;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 18px 0 rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 18px 0 rgba(0, 0, 0, 0.5);
  padding: 15px;
}

.how-lucky-modal {
  position: fixed;
  z-index: 50;
  top: 0;
  left: -100%;
  height: 100vh;
  width: 75vw;
  background-image: -ms-linear-gradient(-107deg, #f87148 0, #f05221 16%, #b72226 79%, #5f0709 100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.how-lucky-modal.showlucky {
  -webkit-animation: showlucky 1s forwards ease-out;
          animation: showlucky 1s forwards ease-out;
}

.how-lucky-modal.hidelucky {
  -webkit-animation: hidelucky 1s forwards ease-in;
          animation: hidelucky 1s forwards ease-in;
}

.close-lucky {
  position: absolute;
  top: 10px;
  right: 20px;
  width: 40px;
}

.howlucky-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 3fr 5fr;
      grid-template-columns: 3fr 5fr;
  grid-gap: 20px;
  width: 80%;
}

.howlucky-container .left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.howlucky-container .left img {
  width: 70%;
}

.howlucky-container .right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.howlucky-container .right img {
  width: 150px;
  display: block;
  margin-bottom: 30px;
}

.howlucky-container .right h1 {
  color: #fff;
  margin-bottom: 20px;
  font-size: 3em;
}

.howlucky-container .right h4 {
  color: #fff;
  font-weight: 400;
}

input[type="number"].howluckyinput {
  border-width: 1px;
  border-color: #fdd500;
  border-style: solid;
  background-color: rgba(65, 68, 76, 0.322);
  -webkit-box-shadow: inset 0 4px 13px 0 rgba(0, 0, 0, 0.5);
          box-shadow: inset 0 4px 13px 0 rgba(0, 0, 0, 0.5);
  font-size: 2em;
  padding: 15px;
  color: #fff;
  text-align: center;
  outline: 0;
  width: 50%;
  margin: 20px 0;
}

input[type="submit"].howluckysubmit {
  border-radius: 5px;
  background-color: #fdd600;
  -webkit-box-shadow: 1.69px 3.625px 9.5px 0.5px rgba(71, 17, 10, 0.5);
          box-shadow: 1.69px 3.625px 9.5px 0.5px rgba(71, 17, 10, 0.5);
  text-transform: uppercase;
  font-size: 0.8em;
  color: #000;
  padding: 20px 40px;
  text-align: center;
  border: 0;
  outline: 0;
  margin: 8px 0;
  font-weight: 700;
  cursor: pointer;
}

@-webkit-keyframes showlucky {
  0% {
    left: -200%;
  }
  100% {
    left: 0;
  }
}

@keyframes showlucky {
  0% {
    left: -200%;
  }
  100% {
    left: 0;
  }
}

@-webkit-keyframes hidelucky {
  0% {
    left: 0;
  }
  100% {
    left: -200%;
  }
}

@keyframes hidelucky {
  0% {
    left: 0;
  }
  100% {
    left: -200%;
  }
}

.lucky-numbers-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.luckynumbers-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: minmax(100px, 2fr) 6fr;
      grid-template-columns: minmax(100px, 2fr) 6fr;
  grid-gap: 20px;
  width: auto;
}

.luckynumbers-container .left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.luckynumbers-container .left img {
  width: 90%;
  max-width: 300px;
}

.luckynumbers-container .right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.luckynumbers-container .right h3 {
  font-weight: 400;
}

.luckynumbers-container .right a.tryagain {
  border-radius: 5px;
  background-color: #fdd600;
  -webkit-box-shadow: 1.69px 3.625px 9.5px 0.5px rgba(71, 17, 10, 0.5);
          box-shadow: 1.69px 3.625px 9.5px 0.5px rgba(71, 17, 10, 0.5);
  text-transform: uppercase;
  font-size: 0.8em;
  color: #000;
  padding: 14px 20px;
  text-align: center;
  border: 0;
  outline: 0;
  margin: 8px 0;
  font-weight: 700;
  text-decoration: none;
}

.your-numbers {
  border-width: 1px;
  border-color: #fdd500;
  border-style: solid;
  background-color: rgba(65, 68, 76, 0.322);
  -webkit-box-shadow: inset 0 4px 13px 0 rgba(0, 0, 0, 0.5);
          box-shadow: inset 0 4px 13px 0 rgba(0, 0, 0, 0.5);
  font-size: 2.4em;
  padding: 7px 16px;
  color: #fff;
  text-align: center;
  outline: 0;
  width: auto;
  margin-top: 5px;
  font-weight: 700;
  letter-spacing: 0.2em;
}

.winningtotal {
  border-style: solid;
  border-width: 2px;
  border-color: #e7451f;
  border-radius: 10px;
  background-image: -ms-linear-gradient(-90deg, #f87148 0, #f05221 16%, #b72226 100%);
  -webkit-box-shadow: 0 0 30px 2px rgba(241, 68, 44, 0.6);
          box-shadow: 0 0 30px 2px rgba(241, 68, 44, 0.6);
  padding: 20px 40px;
  text-align: center;
}

.winningtotal span {
  font-size: 3em;
  color: #fff;
  font-weight: 700;
  text-shadow: 0 4px 8.55px rgba(0, 0, 0, 0.51);
  -moz-transform: matrix(0.40166, 0, 0, 0.40166, 0, 0);
  -webkit-transform: matrix(0.40166, 0, 0, 0.40166, 0, 0);
  -ms-transform: matrix(0.40166, 0, 0, 0.40166, 0, 0);
}

.winningnumbersgrid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  width: 100%;
  margin-top: 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.winning-number-result {
  display: -ms-grid;
  display: grid;
  margin: 10px 3px;
  -ms-grid-columns: 3fr 2fr;
      grid-template-columns: 3fr 2fr;
  grid-gap: 3px;
  padding: 5px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #2d3139;
  border-radius: 5px;
}

.winning-number-result div:first-child {
  font-size: 0.8em;
  color: #fff;
  font-weight: 400;
  white-space: nowrap;
}

.winning-number-result div:last-child {
  font-size: 0.8em;
  color: #fff;
  font-weight: 700;
}

.footer-container {
  text-align: center;
  padding: 10px;
  font-size: 0.7em;
}

.sticky-cta {
  max-width: 200px;
  width: 60vw;
  position: fixed;
  bottom: 0;
  left: 0;
}

.faq-container {
  background: #3f4249;
  padding: 10px;
  border-radius: 10px;
}

.faq-container h2 {
  text-align: center;
  margin-bottom: 20px;
}

.faq-container h3 {
  margin: 10px 0;
  text-decoration: underline;
}

.faq-answer {
  margin: 10px 0 20px 10px;
}

.survery-sticky {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 65px;
  background: -webkit-gradient(linear, left top, left bottom, from(#82dc57), color-stop(#32b621), to(#82dc57));
  background: linear-gradient(180deg, #82dc57, #32b621, #82dc57);
  text-align: left;
  display: flex;
  font-size: 0.8em;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #000;
  padding: 5px 0 0 0;
  z-index: 10;
}

.survery-sticky .btn {
  margin-left: 30vw;
  width: 100%;
  color: #fff;
  font-size: 1em;
  text-align: center;
  background-color: #ff4242;
  background: -webkit-gradient(linear, left top, right top, color-stop(0, #ff4242), color-stop(30%, #ff814f), color-stop(70%, #ff7e4e), to(#ff4242));
  background: linear-gradient(90deg, #ff4242 0, #ff814f 30%, #ff7e4e 70%, #ff4242 100%);
  border-radius: 5px;
  padding: 10px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 4.5px 3.6px rgba(0, 0, 0, 0.07), 0 12.5px 10px rgba(0, 0, 0, 0.046), 0 30.1px 24.1px rgba(0, 0, 0, 0.035), 0 100px 80px rgba(0, 0, 0, 0.024);
          box-shadow: 0 4.5px 3.6px rgba(0, 0, 0, 0.07), 0 12.5px 10px rgba(0, 0, 0, 0.046), 0 30.1px 24.1px rgba(0, 0, 0, 0.035), 0 100px 80px rgba(0, 0, 0, 0.024);
}

.surverygirl {
  position: absolute;
  left: 10px;
  bottom: -10px;
  max-width: 100px;
}

.cek {
  color: #fff;
  text-decoration: none;
  position: relative;
  font-weight: 700;
  font-size: 1.2em;
  -webkit-animation-name: pulse_animation;
          animation-name: pulse_animation;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
}

.lucky-sticky {
  position: unset;
  bottom: 0;
  left: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 55px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-image: -webkit-linear-gradient(-107deg, #f87148 0, #f05221 16%, #b72226 79%, #5f0709 100%);
  color: #fff;
  font-size: 1em;
  cursor: pointer;
}

.recap-sticky {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 55px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #c51414;
  color: #fff;
  cursor: pointer;
}

@-webkit-keyframes pulse_animation {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes pulse_animation {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.pulse {
  -webkit-animation-name: pulse_animation;
          animation-name: pulse_animation;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
}

@keyframes pulse_animation {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.telegram-ctas {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media only screen and (max-width: 1330px) {
  .results-grid {
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
  }
}

.bottomnav.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

ul.bottom-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  width: auto;
}

ul.bottom-nav li {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin: 0 8px;
  font-weight: 700;
  color: #000;
  font-size: 0.9em;
}

ul.bottom-nav li a {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-decoration: none;
  font-weight: 700;
  font-size: 0.8em;
  color: #fff;
  text-transform: uppercase;
}

ul.bottom-nav li a.social-icons {
  display: block;
  width: 40px;
  text-align: center;
  font-size: 0.5em;
}

ul.bottom-nav li a:hover {
  text-decoration: underline;
}

.mobileoverlay ul.nav li img {
  display: none;
}

@media only screen and (max-width: 960px) {
  ul.bottom-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: center;
  }
  ul.bottom-nav li {
    padding: 3px;
  }
  ul.top-nav {
    display: none;
  }
  .results-grid {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  .results-placement-horz1 {
    -ms-grid-row: 2;
    grid-row: 2;
  }
  .results-placement-horz2 {
    -ms-grid-row: 4;
    grid-row: 4;
  }
  .mobile-menu-icon {
    width: 50px;
    height: 50px;
    display: inline;
    float: right;
  }
  .country-results {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    grid-gap: 20px;
  }
  .country-results .country-wrapper .country-name span {
    font-size: 1.3em;
  }
  .country-results .country-wrapper .country-name h5 {
    font-size: 0.8em;
  }
  .country-results .country-wrapper .country-name img {
    width: 30px;
  }
  .blog-container {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (max-width: 640px) {
  .telegram-ctas {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .results-grid {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .blog-container {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .blog-container h3 {
    grid-column: span 1;
  }
  .article-container {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .article-container h2 {
    grid-column: span 1;
  }
  .ik-container {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .ik-container .long {
    grid-column: span 1;
  }
  .article-container .sidebar {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    text-align: center;
  }
  .how-lucky-modal {
    width: 100%;
  }
  .howlucky-container {
    width: 100%;
    grid-gap: 0;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .howlucky-container .left {
    display: none;
  }
  input[type="number"].howluckyinput {
    width: 80%;
  }
  .luckynumbers-container {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    width: 100%;
  }
  .luckynumbers-container .left {
    display: none;
  }
  .winningtotal span {
    font-size: 2em;
  }
  .winningnumbersgrid {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .results-placement-horz1 {
    -ms-grid-row: 4;
    grid-row: 4;
  }
  .results-placement-horz2 {
    -ms-grid-row: 8;
    grid-row: 8;
  }
}

.ql-align-right {
  text-align: right;
}

.ql-align-left {
  text-align: left;
}

.ql-align-center {
  text-align: center;
}
/*# sourceMappingURL=main.css.map */