// $primaryColor: #252b48;
@import "banner";
$primaryColor: #1a1d22;
$primaryColorDark: #10163a;
$primaryColorDarkMin: #10163ac9;
$warningColorPrimary: #7367f0;
$whiteColorSmooth: #ebeefd;

$color-3: #645bd5;
$color-4: #ffbc01;
$color-5: #ed8f9d;
$color-6: #ea5455;
$color-7: #ebeefd;
$color-8: #ff9f43;
$color-9: #7367f0;

html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
*,
:after,
:before {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}

div.spacer {
    margin: 1em 0 1em 0;
}
body {
    margin: 0;
    padding: 0 0 70px 0;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 100%;
    color: #fff;
    background-color: $primaryColor;
    height: 100%;
    min-height: 100vh;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
    font-weight: 700;
}
.content h1,
.content h2,
.content h3,
.content h4,
.content h5,
.content h6 {
    margin: 0.5em 0;
    padding: 0;
    font-weight: 700;
}
a {
    text-decoration: underline;
    color: #fff;
}
p {
    margin: 0;
    font-weight: 400;
}
img {
    max-width: 100%;
}
input {
    outline: 0;
    padding: 0;
}
.center-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-position: center top;
    background-repeat: no-repeat;
    padding: 0 20px 20px 20px;
    position: relative;
}
.main-container {
    width: 100%;
    max-width: 75em;
    background-color: transparent;
    position: relative;
}
.notif-modal {
    background: rgba(26, 29, 34, 0.95);
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    pointer-events: none;
    animation: hidden 0.3s forwards;
    z-index: 20;
}
.notif-modal .modal-container {
    position: relative;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    -webkit-box-shadow: 0 18px 51px -21px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0 18px 51px -21px rgba(0, 0, 0, 0.75);
    box-shadow: 0 18px 51px -21px rgba(0, 0, 0, 0.75);
}
.notif-modal .modal-container img {
    height: 60vh;
    width: initial;
    display: block;
}
[for="olmclose"] img {
    max-width: 30px;
}
[for="olmclose"] {
    position: absolute;
    left: 101%;
    bottom: 53%;
    cursor: pointer;
    z-index: 10;
}
#open:checked + .notif-modal .modal-container {
    animation: show2 10.3s forwards;
}
#open:checked + .notif-modal {
    pointer-events: auto;
    opacity: 0;
    animation: show 10s forwards;
}
input.notif-radio {
    display: none;
}
@keyframes show {
    0% {
        opacity: 0;
        top: -200%;
        right: -200%;
    }
    97% {
        opacity: 0;
    }
    98% {
        opacity: 0;
        top: 0;
        right: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes show2 {
    0% {
        opacity: 0;
    }
    97% {
        opacity: 0;
    }
    98% {
        top: -30px;
        opacity: 0;
    }
    100% {
        opacity: 1;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
    }
}
@keyframes hidden {
    0% {
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        opacity: 1;
    }
    99% {
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        opacity: 0;
    }
    100% {
        top: -200%;
        left: 0;
        bottom: 0;
        right: -200%;
        opacity: 0;
        display: none;
    }
}
.loading-number {
    margin: 10px 0;
    padding: 10px 30px;
    border: 2px dotted #fdd600;
    border-radius: 100px;
    text-align: center;
}
.loading-number img.refresh {
    cursor: pointer;
}
.loading-number span {
    font-weight: 700;
}
.onload-modal {
    display: flex;
    position: fixed;
    z-index: 10;
    background: rgba(0, 0, 0, 0.95);
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    top: -2000%;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 20;
    overflow: hidden;
}
.onload-modal .modal-container {
    position: relative;
    text-align: center;
    border-radius: 10px;
    display: flex;
    width: 80%;
    height: 85%;
    transform: translateY(3%);
    flex-direction: column;
    justify-content: flex-start;
    padding: 10px 20px 10px 20px;
    align-items: center;
    color: #fff;
    background-color: #272c32;
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.75);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.75);
}
.onload-modal .close img {
    max-width: 40px;
}
.onload-modal .close {
    position: absolute;
    left: calc(100% - 30px);
    top: -45px;
    cursor: pointer;
    z-index: 10;
    width: 40px;
}
.onload-modal.opened {
    animation: show 0.3s forwards;
}
input.onload-radio {
    display: none;
}
@keyframes show {
    0% {
        opacity: 0;
    }
    20% {
        opacity: 0;
        top: 0;
        right: 0;
    }
    100% {
        opacity: 1;
        top: 0;
        right: 0;
    }
}
.blink_me {
    font-size: 1.5em;
    font-weight: 700;
    display: block;
    margin-bottom: 10px;
}
.iplink {
    font-size: 2em;
    font-weight: 700;
}
.apkcomingsoon {
    opacity: 0.3;
    width: 150px;
}
.comingsoonapp {
    opacity: 0.5;
    font-size: 0.8em;
}
.tggabung {
    width: 200px;
}
.onload-modal .modal-container hr {
    width: 90%;
    opacity: 0.4;
    border-top: 1px solid #ff0;
}
.downloadrajaimg {
    height: 60vh;
}
.downloadrajafooter {
    vertical-align: middle;
}
.thank-you-survey-title {
    display: block;
    text-align: center;
    color: #82dc57;
    font-weight: 700;
    font-size: 1.3em;
    padding-bottom: 20px;
}
.winner img {
    background: #fff;
    border-radius: 100%;
    padding: 4px;
    margin-right: 10px;
}
.winner span {
    font-weight: 400;
    font-size: 0.8em;
}
.winner {
    cursor: pointer;
    position: relative;
    font-weight: 400;
    font-size: 14px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    margin-bottom: 10px;
    background: linear-gradient(
        173deg,
        rgba(31, 79, 188, 1) 0,
        rgba(9, 45, 89, 1) 100%
    );
    padding: 10px;
    border-left: #96c8fb 3px solid;
    border-radius: 3px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
    font-weight: 700;
    color: #fff;
}
.winner div {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
}
.nav {
    display: grid;
    position: relative;
    z-index: 2;
    grid-template-columns: 150px 1fr;
    align-items: center;
}
.navbar {
    display: flex;
    margin-left: auto;
    align-items: center;
}
ul.top-nav {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
}
ul.top-nav li {
    align-self: center;
    margin: 0 8px;
    font-weight: 700;
    color: #000;
    font-size: 0.9em;
}
ul.top-nav li:first-child {
    margin-left: 0;
}
ul.top-nav li a {
    transition: all 0.3s;
    text-decoration: none;
    font-weight: 700;
    font-size: 0.8em;
    color: #fff;
    text-transform: uppercase;
}
ul.top-nav li a.social-icons {
    display: block;
    width: 40px;
    text-align: center;
    font-size: 0.5em;
}
ul.top-nav li a:hover {
    text-decoration: underline;
}
.mobile-menu-icon {
    display: initial;
    cursor: pointer;
    width: 40px;
    height: 40px;
}
.mobileoverlay {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    transform: translateY(-100%);
    overflow-y: auto;
    overflow-x: hidden;
    background-color: rgba(0, 0, 0, 1);
    transition: all 0.3s ease;
    z-index: 100;
}
.mobileoverlay.open {
    transform: translateY(0);
    background-color: rgba(0, 0, 0, 1);
}
.close-mobilnav {
    position: absolute;
    right: 30px;
    top: 30px;
    cursor: pointer;
    z-index: 101;
}
.close-mobilnav img {
    width: 50px;
}
.mobileoverlay ul.nav {
    display: flex;
    flex-direction: column;
    padding: 0 20px;
}
.mobileoverlay ul.nav li {
    text-align: center;
    width: 100%;
    display: block;
    margin: 1vh 0;
    font-weight: 700;
    font-size: 1em;
}
.mobileoverlay ul.nav li a {
    transition: color 0.3s;
    text-decoration: none;
    color: #fff;
    display: flex;
    align-items: left;
    justify-content: flex-start;
    text-align: left;
    font-size: 1em;
    flex-direction: column;
}
.mobileoverlay ul.nav li a.social-icons {
    color: #feb821;
}
.mobileoverlay ul.nav li a:hover {
    color: #feb821;
    transition: color 0.3s;
}
.results-container h1 {
    font-size: 1.5em;
}
.results-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
}
.results-placement-horz1 {
    grid-column: 1/-1;
    text-align: center;
}
.results-placement-horz2 {
    grid-column: 1/-1;
    text-align: center;
}
.results-item {
    background: linear-gradient(0deg, #1f242a 0, #2a2f37 100%);
    border-radius: 5px;
    box-shadow: 0 0 18px 0 rgba(0, 0, 0, 0.5);
}
.results-item a {
    text-decoration: none;
}
.results-country {
    display: flex;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    padding: 20px;
    height: 80px;
    align-items: center;
    background-color: #555c68;
}
.results-country img {
    width: 60px;
    display: block;
}
.results-country span {
    text-align: center;
    font-size: 1.3em;
    width: 100%;
}
span.none {
    display: none;
}
.results-result {
    text-shadow: 0 3px 10px rgba(0, 0, 0, 0.8);
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.8);
    letter-spacing: 0.1em;
    display: block;
    width: 100%;
    font-weight: 700;
    background-size: 100%;
    background-position: center center;
    padding: 30px;
    font-size: 3em;
    color: #fff;
    text-align: center;
}
.prediksi-result {
    text-shadow: 0 3px 10px rgba(0, 0, 0, 0.8);
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.8);
    letter-spacing: 0.1em;
    display: block;
    width: 100%;
    font-weight: 700;
    background-size: 100%;
    background-position: center center;
    background-size: cover;
    padding: 30px;
    font-size: 2em;
    color: #fff;
    text-align: center;
}
.results-meta {
    background-color: #616a7b;
    display: flex;
    padding: 15px 20px;
}
.results-meta span {
    display: block;
    width: 100%;
    text-align: center;
    font-weight: 700;
}
.results-history {
    padding: 20px;
}
.results-history .more {
    display: flex;
    justify-content: center;
    padding: 15px 0 0 0;
}
.results-history .title {
    font-size: 1.5em;
    font-weight: 700;
    text-align: center;
    display: block;
    line-height: 100%;
}
.results-history .title img {
    transform: translateY(-5px);
}
.results-history div {
    display: flex;
    padding: 5px 0;
    font-size: 0.8em;
}
.results-history div span {
    margin-left: auto;
    font-weight: 700;
}
.button {
    padding: 10px 15px;
    font-weight: 700;
    display: block;
    border-radius: 5px;
    font-size: 1em;
    text-align: center;
    background-color: #0f0f0f;
    color: #000;
    text-decoration: none;
}
.button.yellow {
    background-color: #fdd600;
}
.button.yellow.inline {
    display: inline-block;
}
.country-results .country-wrapper {
    position: relative;
}
// .country-results .country-wrapper .single-title {
.single-title {
    font-size: 1.1em;
    font-weight: 700;
    text-align: center;
    margin: 0 0 15px 0;
}
// .country-results .country-wrapper .row {
.row {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;

    border: 1px solid #5f5e5e;
    font-size: 0.8em;
    border-radius: 5px;
    margin: 2px 0;
}
// .country-results .country-wrapper .row.header {
.row.header {
    background-color: #25292f;
}
// .country-results .country-wrapper .row.latest {
.row.latest {
    background-color: #4a7644;
}
// .country-results .country-wrapper .row div {
.row div {
    padding: 6px;
}
.country-results .country-wrapper .country-name {
    border-radius: 5px;
    display: flex;
    height: auto;
    align-items: center;
    justify-content: center;
    border: 1px solid #1b5015;
    padding: 10px;
}
.country-results .country-wrapper .country-name span {
    font-size: 1em;
    display: block;
    padding: 0 20px;
}
.country-results .country-wrapper .country-name h5 {
    margin-left: auto;
    font-weight: 400;
    text-align: right;
}
.country-results .country-wrapper .country-name h5 b {
    color: #ff0;
}
.country-results .country-wrapper .country-name img {
    width: 45px;
}
img.pasar-logo {
    max-height: 60px;
    margin: 0.5em 0;
}
.country-result-hair-ini {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    margin: 20px 0 30px 0;
    flex-direction: column;
}
.country-result-hair-ini h5 {
    margin-top: 10px;
}
.country-result-hair-ini h1 {
    background: url("https://cdn.telejudi.com/rh/images/green_fade.svg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center center;
    text-align: center;
    font-size: 2.4em;
    letter-spacing: 0.2em;
    padding: 25px;
    color: #fff;
    font-weight: 700;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.8);
}
.join-telegramgroup-wrapper {
    background: linear-gradient(
        52deg,
        rgba(44, 81, 220, 1) 0,
        rgba(60, 98, 241, 1) 100%
    );
    background: #2c51dc;
    border-radius: 5px;
}
@-webkit-keyframes bgscroll {
    from {
        background-position: 60% 0;
    }
    to {
        background-position: 50% -2000px;
    }
}
.join-telegramgroup-logo {
    // background-image: url(https://cdn.telejudi.com/rh/raja_logo_bg_tg.png);
    background-position: left;
    background-repeat: no-repeat;
    background-size: contain;
}
.join-telegramgroup-chatbubbles {
    // background-image: url(https://cdn.telejudi.com/rh/chat_bubbles.png);
    -webkit-animation: bgscroll 30s infinite linear;
    background-repeat: repeat-y;
    background-size: 40%;
}
.join-telegramgroup {
    border-radius: 5px;
    // background-image: url(https://cdn.telejudi.com/rh/join-tg.png);
    background-position: right;
    background-repeat: no-repeat;
    background-size: contain;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    text-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    font-size: 1.7em;
    font-weight: 700;
    padding: 0 10px;
    width: 100%;
    height: 160px;
    box-shadow: 0 7px 15px rgba(0, 0, 0, 0.5);
}
.join-telegramgroup span {
    display: block;
    width: 100%;
}
.join-telegramgroup a {
    margin: 0;
    text-shadow: none;
    box-shadow: 0 7px 15px rgba(0, 0, 0, 0.5);
    font-weight: 700;
    font-size: 0.8em;
}
@media only screen and (max-width: 640px) {
    .join-telegramgroup {
        font-size: 1.4em;
        text-align: center;
        justify-content: center;
        height: 130px;
        background-position: 150%;
    }
    .join-telegramgroup-chatbubbles {
        background: 0 0;
    }
}
.best-bandar {
    text-align: center;
    color: #e0dfdc;
}
.best-bandar span {
    font-size: 0.8em;
    font-weight: 400;
    color: #ff0;
    font-style: italic;
}
.bandar-rank {
    margin: 0 0 0.5em 0;
    padding: 1em 0.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}
.bandar-rank-row {
    display: flex;
    border: 1px solid #4a7644;
    border-radius: 5px;
    width: 100%;
    flex-direction: row;
    position: relative;
    margin: 0.2em 0;
}
.bandar-rank-row > div {
    padding: 5px;
    align-items: center;
}
// .bandar-rank-row div:first-child {
//     background-color: rgba(74, 116, 78, 1);
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     font-weight: 700;
//     position: relative;
// }
.bandar-rank-row div:nth-child(2) {
    display: flex;
    width: 100%;
    position: relative;
}
.comingsoon {
    color: #4a7644;
}
.bandar-rank-row.top1 {
    background: -webkit-linear-gradient(bottom, #82dc57, #16ba89);
}
.bandar-rank-row.top2 {
    background-color: #4a7644;
}
.bandar-rank-row.top3 {
    background-color: #3a5237;
}
.bandar-rank-row div:first-child {
    margin: 5px;
    max-width: 50px;
    border-radius: 5px;
    background-color: #575a5f;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
}
.star-rating {
    color: #ff0;
}
span.new-bandar {
    background-color: gold;
    padding: 3px 5px;
    display: inline-block;
    position: relative;
    margin-left: 6px;
    color: #000;
    font-weight: 700;
    border-radius: 3px;
    font-size: 0.6em;
    background-image: linear-gradient(
        to right,
        transparent 33%,
        rgba(255, 255, 255, 0.8) 50%,
        transparent 66%
    );
    background-size: 300% 100%;
    animation: shine 2s infinite;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.8);
}
@keyframes shine {
    0% {
        background-position: right;
    }
}
.daftar-bandar {
    background-color: #4a7644;
    border-radius: 4px;
    margin-left: auto;
    text-decoration: none;
    padding: 8px 12px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 0.8em;
    text-align: center;
}
.daftar-bandar.full {
    width: 100%;
}
.daftar-bandar.top1 {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
    background: linear-gradient(251deg, #ee5221, #b72226, orange);
    background-size: 600% 600%;
    -webkit-animation: AnimationName 3s ease infinite;
    -moz-animation: AnimationName 3s ease infinite;
    animation: AnimationName 3s ease infinite;
}
.daftar-bandar.top2 {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
    background: #ce8500;
}
.daftar-bandar.top3 {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
    background: #499a1d;
}
@-webkit-keyframes AnimationName {
    0% {
        background-position: 0 62%;
    }
    50% {
        background-position: 100% 39%;
    }
    100% {
        background-position: 0 62%;
    }
}
@-moz-keyframes AnimationName {
    0% {
        background-position: 0 62%;
    }
    50% {
        background-position: 100% 39%;
    }
    100% {
        background-position: 0 62%;
    }
}
@keyframes AnimationName {
    0% {
        background-position: 0 62%;
    }
    50% {
        background-position: 100% 39%;
    }
    100% {
        background-position: 0 62%;
    }
}
.bandar-list-row.header {
    border: 0;
    font-weight: 700;
    font-size: 0.6em;
    background: 0 0;
}
.bandar-list-row.header div:first-child {
    background: 0 0;
}
.bandar-list-row {
    display: flex;
    position: relative;
    flex-direction: row;
    border: 1px solid #575a5f;
    border-radius: 5px;
    width: 100%;
    margin: 0.7em 0;
    font-size: 1em;
}
.bandar-list-row.top1 {
    background: -webkit-linear-gradient(bottom, #82dc57, #16ba89);
}
.bandar-list-row.top2 {
    background-color: #4a7644;
}
.bandar-list-row.top3 {
    background-color: #3a5237;
}
.bandar-list-row > div {
    padding: 5px;
    width: 100%;
    display: flex;
    align-items: center;
    line-height: 100%;
}
.bandar-list-row div:first-child {
    margin: 5px;
    max-width: 50px;
    border-radius: 5px;
    background-color: #575a5f;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
}
.bandar-list-row div:last-child {
    margin-left: auto;
    display: flex;
    justify-content: center;
}
.bandar-list-row div:last-child a {
    padding: 15px;
    font-size: 1.4em;
    letter-spacing: 0.2em;
}
.bandar-list-row div:last-child a.big {
    padding: 20px 15px;
    font-size: 1.5em;
    letter-spacing: 0.2em;
}
.bandar-title {
    font-weight: 700;
    font-size: 1.2em;
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
}
.bandar-list-row div:nth-child(5) img {
    width: 20px;
    padding: 3px;
}

@media only screen and (max-width: 640px) {
    .bandar-list-row {
        flex-wrap: wrap;
    }
    .bandar-list-row div:first-child {
        border-radius: 5px;
    }
    .bandar-list-row div:nth-child(2) {
        flex-grow: 1;
    }
    .bandar-list-row div:nth-child(5) {
        flex-basis: 100%;
    }
    .bandar-list-row div {
        justify-content: center;
        flex-basis: 50%;
    }
    .bandar-list-row.header {
        display: none;
    }
    .bandar-list-row div:last-child {
        flex-basis: 100%;
    }

    .klasemen-lomba {
        flex-wrap: wrap;
    }
    .klasemen-lomba div:first-child {
        border-radius: 5px;
    }
    .klasemen-lomba div:nth-child(2) {
        flex-grow: 1;
    }
    .klasemen-lomba div:nth-child(3) {
        flex-basis: 100%;
    }
    .klasemen-lomba div:nth-child(5) {
        flex-basis: 100%;
    }
    .klasemen-lomba div {
        justify-content: center;
        flex-basis: 50%;
    }
    .klasemen-lomba.header {
        display: none;
    }
    .klasemen-lomba div:last-child {
        flex-basis: 100%;
    }
    // .bandar-list-row div:nth-child(3):before {
    //     content: "Min Dp: ";
    //     margin-right: 5px;
    //     font-size: 0.8em;
    //     font-family: arial;
    //     opacity: 0.5;
    // }
    // .bandar-list-row div:nth-child(4):before {
    //     content: "Min Wd: ";
    //     margin-right: 5px;
    //     font-size: 0.8em;
    //     font-family: arial;
    //     opacity: 0.5;
    // }
}
.bandartogel-button-area {
    text-align: center;
    margin-top: -1em;
    padding-bottom: 2.5em;
}
.bukushio-button-area {
    text-align: center;
    padding: 15px;
}

//tombol goto bandar togel
.button-bandartogel,
.button-bukushio {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
    background: linear-gradient(251deg, #ee5221, #b72226, orange);
    background-size: 600% 600%;
    -webkit-animation: AnimationName 3s ease infinite;
    animation: AnimationName 3s ease infinite;
    background-color: #4a7644;
    border-radius: 4px;
    margin-left: auto;
    text-decoration: none;
    padding: 12px 12px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 0.8em;
    text-align: center;
}
// margin nav
div.nav {
    margin-bottom: 1.2em;
}
.jointotoplacement img {
    width: 100%;
    max-width: 600px;
}
.jointotoplacement {
    display: flex;
    align-items: center;
    justify-content: center;
}
.single-title {
    font-size: 1.4em;
    font-style: italic;
    font-weight: 700;
    text-align: center;
    color: #82dc57;
    margin: 5px;
}
.country-result-today h3 span.code {
    text-transform: uppercase;
    display: inline-block;
}
.country-result-today h3 {
    font-size: 1.2em;
    color: #fff;
    margin: 10px 0 0 0;
    text-align: center;
    font-weight: 400;
}
.country-result-today h3 span {
    display: block;
    font-size: 0.8em;
}
.frequency-cointainer {
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
    width: 100%;
    margin: 10px 0;
}
.frequency-cointainer h1 {
    width: 100%;
    font-size: 1.1em;
    font-style: italic;
    font-weight: 700;
    text-align: center;
    color: #82dc57;
    margin: 10px 0;
}
.frequency-card {
    background: linear-gradient(0deg, #1f242a 0, #2a2f37 100%);
    border-radius: 5px;
    height: auto;
    padding: 5px;
    margin: 5px;
    flex: 1 0 21%;
}
@media only screen and (max-width: 960px) {
    .frequency-card {
        flex: 1 0 42%;
    }
}
@media only screen and (max-width: 640px) {
    .frequency-card {
        flex: 1 0 100%;
    }
}
.frequency-graph {
    display: flex;
    flex-direction: row;
    margin-bottom: 8px;
    height: 200px;
    align-items: flex-end;
}
.frequency-bar {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 10%;
    margin: 0 2px;
    justify-content: flex-end;
    font-size: 0.7em;
    height: 200px;
}
.frequency-bar .bar {
    display: block;
    text-align: center;
    background: -webkit-linear-gradient(top, #82dc57, #16ba89);
    width: 100%;
    border-radius: 3px;
    margin: 0;
    height: 0;
    transition: height 0.5s;
}
.frequency-bar .bar div {
    font-size: 8px;
    color: #000;
    font-weight: 700;
}
.frequency-bar .number {
    order: 2;
    justify-content: center;
}
.frequency-card .position {
    text-align: center;
    font-weight: 700;
    font-size: 2em;
}
.shio-table {
    width: 100%;
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.3);
    text-align: center;
    margin-bottom: 20px;
    border: 0;
}
.shio-table {
    border: 1.5px solid #2a2f37;
}
.shio-table td {
    padding: 10px;
    border: 0 solid;
}
.shio-table td.head {
    color: #fff;
    background: #2a2f37;
    width: 30%;
}
.shio-table td.data-shio {
    display: inline-flex;
    justify-content: flex-start;
    width: 100%;
}
.shio-table td .bar {
    display: block;
    text-align: right;
    color: #fff;
    padding: 5px;
    font-size: 1em;
    background: -webkit-linear-gradient(top, #82dc57, #16ba89);
    border-radius: 2px;
    margin: 0;
    height: 100%;
    transition: width 0.5s;
    box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.3);
}
.ik-container img {
    width: 100%;
}
.ik-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 20px 0;
    grid-gap: 20px;
}
.ik-container .long {
    grid-column: span 2;
}
.blog-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 20px 0;
    grid-gap: 20px;
}
.blog-item {
    display: grid;
    grid-template-rows: auto auto;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    background-color: #2d3139;
    border-radius: 5px;
    box-shadow: 0 0 18px 0 rgba(0, 0, 0, 0.5);
}
.blog-item div.thumb a {
    display: flex;
    height: 100%;
}
.blog-item div.thumb {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    position: relative;
    background-size: cover;
    padding-top: 56.25%;
}
.blog-item div.content {
    padding: 15px;
    position: relative;
}
.embed-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
    background-color: #1a1d22;
}
.embed-container embed,
.embed-container iframe,
.embed-container object {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.article-container.fluid {
    display: flex;
}
.article-container {
    display: grid;
    grid-template-columns: 1fr 300px;
    grid-gap: 20px;
}
.article-container article {
    display: block;
    padding-bottom: 10px;
    background-color: #2d3139;
    border-radius: 5px;
}
.article-container article .content {
    padding: 20px;
    line-height: 150%;
}
.share-bar h3 {
    width: 100%;
    text-align: center;
}
.share-bar {
    padding: 15px;
    background-color: #424955;
    border-radius: 5px;
    margin: 10px;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
}
.share-bar a {
    padding: 10px;
    background-color: #6d90ca;
    margin: 5px;
    border-radius: 50px;
}
.share-bar img {
    display: block;
    width: 30px;
}
.article-container .sidebar {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
    align-content: flex-start;
}
.table-wrapper {
    overflow: hidden;
    overflow-x: scroll;
    overflow-y: scroll;
    position: relative;
    width: 100%;
    height: 550px;
}
.pred-table table {
    font-size: 0.8em;
    margin-bottom: 20px;
}
.prediksi-table {
    border-collapse: collapse;
    margin-bottom: 5px;
    width: 100%;
}
.prediksi-table td {
    width: 50%;
}
.prediksi-table th {
    font-size: 1.2em;
    color: #fff;
}
.prediksi-table,
td,
th {
    text-align: center;
    font-weight: 700;
    color: white;
}
.single-share {
    margin-left: auto;
}
.single-share a {
    text-decoration: none;
    margin-left: 15px;
}
.single-share a img {
    width: 20px !important;
    display: inline-block;
}
.country-desc {
    display: flex;
    background-color: #2d3139;
    border-radius: 5px;
    box-shadow: 0 0 18px 0 rgba(0, 0, 0, 0.5);
    padding: 15px;
}
.how-lucky-modal {
    position: fixed;
    z-index: 50;
    top: 0;
    left: -100%;
    height: 100vh;
    width: 75vw;
    background-image: -moz-linear-gradient(
        -107deg,
        #f87148 0,
        #f05221 16%,
        #b72226 79%,
        #5f0709 100%
    );
    background-image: -webkit-linear-gradient(
        -107deg,
        #f87148 0,
        #f05221 16%,
        #b72226 79%,
        #5f0709 100%
    );
    background-image: -ms-linear-gradient(
        -107deg,
        #f87148 0,
        #f05221 16%,
        #b72226 79%,
        #5f0709 100%
    );
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.2s;
}
.how-lucky-modal.showlucky {
    animation: showlucky 1s forwards ease-out;
}
.how-lucky-modal.hidelucky {
    animation: hidelucky 1s forwards ease-in;
}
.close-lucky {
    position: absolute;
    top: 10px;
    right: 20px;
    width: 40px;
}
.howlucky-container {
    display: grid;
    grid-template-columns: 3fr 5fr;
    grid-gap: 20px;
    width: 80%;
}
.howlucky-container .left {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.howlucky-container .left img {
    width: 70%;
}
.howlucky-container .right {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.howlucky-container .right img {
    width: 150px;
    display: block;
    margin-bottom: 30px;
}
.howlucky-container .right h1 {
    color: #fff;
    margin-bottom: 20px;
    font-size: 3em;
}
.howlucky-container .right h4 {
    color: #fff;
    font-weight: 400;
}
input[type="number"].howluckyinput {
    border-width: 1px;
    border-color: #fdd500;
    border-style: solid;
    background-color: rgba(65, 68, 76, 0.322);
    box-shadow: inset 0 4px 13px 0 rgba(0, 0, 0, 0.5);
    font-size: 2em;
    padding: 15px;
    color: #fff;
    text-align: center;
    outline: 0;
    width: 50%;
    margin: 20px 0;
}
input[type="submit"].howluckysubmit {
    border-radius: 5px;
    background-color: #fdd600;
    box-shadow: 1.69px 3.625px 9.5px 0.5px rgba(71, 17, 10, 0.5);
    text-transform: uppercase;
    font-size: 0.8em;
    color: #000;
    padding: 20px 40px;
    text-align: center;
    border: 0;
    outline: 0;
    margin: 8px 0;
    font-weight: 700;
    cursor: pointer;
}
@keyframes showlucky {
    0% {
        left: -200%;
    }
    100% {
        left: 0;
    }
}
@keyframes hidelucky {
    0% {
        left: 0;
    }
    100% {
        left: -200%;
    }
}
.lucky-numbers-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.luckynumbers-container {
    display: grid;
    grid-template-columns: minmax(100px, 2fr) 6fr;
    grid-gap: 20px;
    width: auto;
}
.luckynumbers-container .left {
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
}
.luckynumbers-container .left img {
    width: 90%;
    max-width: 300px;
}
.luckynumbers-container .right {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    text-align: center;
}
.luckynumbers-container .right h3 {
    font-weight: 400;
}
.luckynumbers-container .right a.tryagain {
    border-radius: 5px;
    background-color: #fdd600;
    box-shadow: 1.69px 3.625px 9.5px 0.5px rgba(71, 17, 10, 0.5);
    text-transform: uppercase;
    font-size: 0.8em;
    color: #000;
    padding: 14px 20px;
    text-align: center;
    border: 0;
    outline: 0;
    margin: 8px 0;
    font-weight: 700;
    text-decoration: none;
}
.your-numbers {
    border-width: 1px;
    border-color: #fdd500;
    border-style: solid;
    background-color: rgba(65, 68, 76, 0.322);
    box-shadow: inset 0 4px 13px 0 rgba(0, 0, 0, 0.5);
    font-size: 2.4em;
    padding: 7px 16px;
    color: #fff;
    text-align: center;
    outline: 0;
    width: auto;
    margin-top: 5px;
    font-weight: 700;
    letter-spacing: 0.2em;
}
.winningtotal {
    border-style: solid;
    border-width: 2px;
    border-color: #e7451f;
    border-radius: 10px;
    background-image: -moz-linear-gradient(
        -90deg,
        #f87148 0,
        #f05221 16%,
        #b72226 100%
    );
    background-image: -webkit-linear-gradient(
        -90deg,
        #f87148 0,
        #f05221 16%,
        #b72226 100%
    );
    background-image: -ms-linear-gradient(
        -90deg,
        #f87148 0,
        #f05221 16%,
        #b72226 100%
    );
    box-shadow: 0 0 30px 2px rgba(241, 68, 44, 0.6);
    padding: 20px 40px;
    text-align: center;
}
.winningtotal span {
    font-size: 3em;
    color: #fff;
    font-weight: 700;
    text-shadow: 0 4px 8.55px rgba(0, 0, 0, 0.51);
    -moz-transform: matrix(0.40166325023123, 0, 0, 0.40166325023123, 0, 0);
    -webkit-transform: matrix(0.40166325023123, 0, 0, 0.40166325023123, 0, 0);
    -ms-transform: matrix(0.40166325023123, 0, 0, 0.40166325023123, 0, 0);
}
.winningnumbersgrid {
    display: flex;
    align-items: flex-start;
    flex-flow: row;
    width: 100%;
    margin-top: 10px;
    justify-content: center;
}
.winning-number-result {
    display: grid;
    margin: 10px 3px;
    grid-template-columns: 3fr 2fr;
    grid-gap: 3px;
    padding: 5px;
    align-items: center;
    border: 1px solid #2d3139;
    border-radius: 5px;
}
.winning-number-result div:first-child {
    font-size: 0.8em;
    color: #fff;
    font-weight: 400;
    white-space: nowrap;
}
.winning-number-result div:last-child {
    font-size: 0.8em;
    color: #fff;
    font-weight: 700;
}
.footer-container {
    text-align: center;
    padding: 10px;
    font-size: 0.7em;
}
.sticky-cta {
    max-width: 200px;
    width: 60vw;
    position: fixed;
    bottom: 0;
    left: 0;
}
.faq-container {
    background: #3f4249;
    padding: 10px;
    border-radius: 10px;
}
.faq-container h2 {
    text-align: center;
    margin-bottom: 20px;
}
.faq-container h3 {
    margin: 10px 0;
    text-decoration: underline;
}
.faq-answer {
    margin: 10px 0 20px 10px;
}
.survery-sticky {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 100%;
    display: flex;
    height: 65px;
    background: linear-gradient(180deg, #82dc57, #32b621, #82dc57);
    text-align: left;
    display: flex;
    font-size: 0.8em;
    flex-direction: column;
    color: #000;
    padding: 5px 0 0 0;
    z-index: 10;
}
.survery-sticky .btn {
    margin-left: 30vw;
    width: 100%;
    color: #fff;
    font-size: 1em;
    text-align: center;
    background-color: #ff4242;
    background: linear-gradient(
        90deg,
        rgba(255, 66, 66, 1) 0,
        rgba(255, 129, 79, 1) 30%,
        rgba(255, 126, 78, 1) 70%,
        rgba(255, 66, 66, 1) 100%
    );
    border-radius: 5px;
    padding: 10px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.3);
    box-shadow: 0 4.5px 3.6px rgba(0, 0, 0, 0.07),
        0 12.5px 10px rgba(0, 0, 0, 0.046), 0 30.1px 24.1px rgba(0, 0, 0, 0.035),
        0 100px 80px rgba(0, 0, 0, 0.024);
}
.surverygirl {
    position: absolute;
    left: 10px;
    bottom: -10px;
    max-width: 100px;
}
.cek {
    color: #fff;
    text-decoration: none;
    position: relative;
    font-weight: 700;
    font-size: 1.2em;
    animation-name: pulse_animation;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}
.lucky-sticky {
    // position: fixed;
    position: unset;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    height: 55px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-image: -moz-linear-gradient(
        -107deg,
        #f87148 0,
        #f05221 16%,
        #b72226 79%,
        #5f0709 100%
    );
    background-image: -webkit-linear-gradient(
        -107deg,
        #f87148 0,
        #f05221 16%,
        #b72226 79%,
        #5f0709 100%
    );
    color: #fff;
    font-size: 1em;
    cursor: pointer;
}
.recap-sticky {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    height: 55px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #c51414;
    color: #fff;
    cursor: pointer;
}
@keyframes pulse_animation {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}
.pulse {
    animation-name: pulse_animation;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}
@keyframes pulse_animation {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(0.8);
    }
    100% {
        transform: scale(1);
    }
}
.telegram-ctas {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
@media only screen and (max-width: 1330px) {
    .results-grid {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

// bottomnav
.bottomnav.flex {
    display: flex;
    justify-content: center;
}

ul.bottom-nav {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    width: auto;
}
ul.bottom-nav li {
    align-self: center;
    margin: 0 8px;
    font-weight: 700;
    color: #000;
    font-size: 0.9em;
}

ul.bottom-nav li a {
    transition: all 0.3s;
    text-decoration: none;
    font-weight: 700;
    font-size: 0.8em;
    color: #fff;
    text-transform: uppercase;
}
ul.bottom-nav li a.social-icons {
    display: block;
    width: 40px;
    text-align: center;
    font-size: 0.5em;
}
ul.bottom-nav li a:hover {
    text-decoration: underline;
}
.mobileoverlay {
    ul.nav li img {
        display: none;
    }
}

@media only screen and (max-width: 960px) {
    ul.bottom-nav {
        display: flex;
        text-align: center;
    }
    ul.bottom-nav li {
        padding: 3px;
    }
    ul.top-nav {
        display: none;
    }
    .results-grid {
        grid-template-columns: 1fr 1fr;
    }
    .results-placement-horz1 {
        grid-row: 2;
    }
    .results-placement-horz2 {
        grid-row: 4;
    }
    .mobile-menu-icon {
        width: 50px;
        height: 50px;
        display: inline;
        float: right;
    }
    .country-results {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 20px;
    }
    .country-results .country-wrapper .country-name span {
        font-size: 1.3em;
    }
    .country-results .country-wrapper .country-name h5 {
        font-size: 0.8em;
    }
    .country-results .country-wrapper .country-name img {
        width: 30px;
    }
    .blog-container {
        grid-template-columns: 1fr 1fr;
    }
}

@media only screen and (max-width: 640px) {
    .telegram-ctas {
        flex-direction: column;
    }
    .results-grid {
        grid-template-columns: 1fr;
    }
    .blog-container {
        grid-template-columns: 1fr;
    }
    .blog-container h3 {
        grid-column: span 1;
    }
    .article-container {
        grid-template-columns: 1fr;
    }
    .article-container h2 {
        grid-column: span 1;
    }
    .ik-container {
        grid-template-columns: 1fr;
    }
    .ik-container .long {
        grid-column: span 1;
    }
    .article-container .sidebar {
        grid-template-columns: 1fr;
        text-align: center;
    }
    .how-lucky-modal {
        width: 100%;
    }
    .howlucky-container {
        width: 100%;
        grid-gap: 0;
        grid-template-columns: 1fr;
    }
    .howlucky-container .left {
        display: none;
    }
    input[type="number"].howluckyinput {
        width: 80%;
    }
    .luckynumbers-container {
        grid-template-columns: 1fr;
        width: 100%;
    }
    .luckynumbers-container .left {
        display: none;
    }
    .winningtotal span {
        font-size: 2em;
    }
    .winningnumbersgrid {
        flex-flow: column;
        align-items: center;
    }
    .results-placement-horz1 {
        grid-row: 4;
    }
    .results-placement-horz2 {
        grid-row: 8;
    }
}

.ql-align-right {
    text-align: right;
}
.ql-align-left {
    text-align: left;
}
.ql-align-center {
    text-align: center;
}

// banner 3 dan banner6

.banner3,
.banner6 {
    text-align: center;
    width: 100%;

    img {
        width: 100%;
    }
}

.buttonLihatPrediksi {
    padding: 8px;
    background-color: #fdd600;
}

td.besar {
    color: #17f6fe;
}

td.genap {
    color: #17f6fe;
}
// mini klasemen
@media only screen and (min-width: 768px) {
    .leaderboard__rank {
        background-color: #000;
    }
}
.container__side.tebak-score .leaderboard__rank {
    max-width: 100%;
    margin: 0 10px;
}
.leaderboard__rank--row div {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
    text-align: center;
    height: 50px;
    color: #fff;
}
.leaderboard__rank--row--number {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-flex: 0;
    flex: 0 0 30px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    margin-right: 15px;
}
.leaderboard__rank--row--user {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-flex: 1;
    flex: 1 0 auto;
}
.leaderboard__rank--row--point {
    -webkit-box-flex: 0;
    flex: 0 0 45px;
}

.leaderboard__rank--list {
    font-size: 1.3em;
    font-weight: 400;
}
.leaderboard__rank--row:first-child {
    border-top: none;
}
.leaderboard__rank--row {
    border-top: 0.5px solid #9b9b9b;
}
.leaderboard__rank {
    color: #fff;
    background-color: #212121;
    padding: 0 10px;
    max-width: 300px;
    margin: 0 auto;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
}

@import "tebakskor";
@import "popup";
@import "livedraw";
