<template>
  <div>
    <div class="clearfix"></div>

    <div class="row justify-content-center">
      <div class="col-md-8 mt-10">
        <router-link
          tag="button"
          class="btn btn-primary btn-block"
          :to="{ name: 'manajemenUserList' }"
        >
          <iconArrowLeft></iconArrowLeft> &nbsp; KEMBALI
        </router-link>

        <b-overlay :show="isLoading" rounded="sm">
          <b-form-group>
            <!-- <b-button block variant="success" to="{name:'manajemenUserList'}">KEMBALI</b-button> -->
          </b-form-group>
          <div v-if="userData != null">
            <!-- startform -->
            <!-- user name -->
            <b-form-group
              description="Isi nama pengguna tidak boleh kosong"
              label="Nama Pengguna"
              :invalid-feedback="invalidNameFeedback"
            >
              <b-form-input
                id="name"
                autocomplete="off"
                v-model="userData.name"
                :state="nameState"
              ></b-form-input>
            </b-form-group>
            <!-- user email -->
            <b-form-group
              description="Email tidak boleh kosong"
              label="Email Pengguna"
              :invalid-feedback="invalidEmailFeedback"
            >
              <b-form-input
                id="email"
                autocomplete="off"
                v-model="userData.email"
                :state="emailState"
              ></b-form-input>
            </b-form-group>
            <!-- user facebook -->
            <b-form-group
              description="Dapatkan ID Facebook di findmyfbid.com "
              label="ID Facebook"
            >
              <b-form-input
                id="facebook"
                v-model="userData.facebook"
              ></b-form-input>
            </b-form-group>
            <b-form-group
              description="Inputkan password"
              label="Password"
              v-if="userData.id == 'new'"
            >
              <b-form-input
                id="password"
                type="password"
                autocomplete="off"
                v-model="userData.password"
              ></b-form-input>
            </b-form-group>
            <b-form-group
              description="Status"
              label="Status"
              :state="statusState"
              :invalid-feedback="statusInvalidFeedback"
              v-if="userData.id == 'new'"
            >
              <b-form-input
                id="status"
                type="text"
                autocomplete="off"
                v-model="userData.status"
              ></b-form-input>
            </b-form-group>

            <b-form-group>
              <b-button
                block
                :disabled="submitButtonState"
                variant="success"
                @click="updateUser"
              >
                <iconUpload></iconUpload> &nbsp; SIMPAN DATA
              </b-button>
              <b-button
                block
                variant="danger"
                @click="deleteUser"
                v-if="userData.id != 'new'"
              >
                <iconTrash></iconTrash> &nbsp; HAPUR USER
              </b-button>
              <b-button
                block
                variant="warning"
                @click="disableUser"
                v-if="userData.id != 'new' && userData.status == 'active'"
              >
                <iconTrash></iconTrash> &nbsp; DISABLE USER
              </b-button>
              <b-button
                block
                variant="primary"
                @click="enableUser"
                v-if="userData.id != 'new' && userData.status == 'inactive'"
              >
                <iconTrash></iconTrash> &nbsp; ENABLE USER
              </b-button>
            </b-form-group>

            <!-- endform -->
          </div>

          <template v-slot:overlay>
            <div class="text-center mt-100">
              <Origami></Origami>
            </div>
          </template>
        </b-overlay>

        <b-overlay :show="passLoading">
          <h2 class="mt-5 text-center text-red">Ganti Password</h2>
          <b-form @submit="changePassword">
            <b-form-group title="Masukkan password">
              <b-form-input
                type="password"
                id="newpass"
                placeholder="Type new password"
                v-model="password.new"
                :state="passwordFormValid"
              >
              </b-form-input>
            </b-form-group>
            <b-form-group title="Ulangi Password">
              <b-form-input
                type="password"
                placeholder="Confirm Password"
                id="confirm"
                v-model="password.confirm"
                :state="passwordFormValid"
              >
              </b-form-input>
            </b-form-group>
            <b-form-group>
              <b-button
                :disabled="!passwordFormValid"
                variant="primary"
                block
                type="submit"
                >Ganti Password</b-button
              >
            </b-form-group>
          </b-form>
        </b-overlay>

        <pre v-if="debug == true">{{ password }}</pre>
      </div>
    </div>
  </div>
</template>

<script>
import axios from "axios";
import Origami from "vue-loading-spinner/src/components/Origami";
export default {
  components: {
    Origami,
  },
  data() {
    return {
      debug: false,
      isLoading: true,
      passLoading: false,
      // userData: null,
      userData: {
        id: "new",
        email: "",
        name: "",
        status: "active",
        facebook: "",
        password: "",
      },
      password: {
        new: "",
        confirm: "",
      },
    };
  },
  computed: {
    passwordFormValid() {
      if (
        this.password.new != "" &&
        this.password.new.length > 7 &&
        this.password.confirm != "" &&
        this.password.confirm.length > 7
      ) {
        console.log("pass");
        return this.password.new == this.password.confirm ? true : false;
      } else {
        return false;
      }
    },
    submitButtonState() {
      return this.userData.name == "" || this.userData.email == ""
        ? true
        : this.userData.id == "new" && this.userData.password == ""
        ? true
        : false;
    },
    nameState() {
      return this.userData.name.length >= 4 ? true : false;
    },
    statusState(){
        if(this.userData.status == 'active'){
            return true;
        }else if( this.userData.status =='inactive'){
            return true
        }else{
            return false;
        }
    },
    statusInvalidFeedback(){
         if (this.userData.status!= 'active' || this.userData.status !='inactive') {
        return "Status hanya bisa active dan inactive saja";
      }
    },
    emailState() {
      return this.validEmail(this.userData.email) ? true : false;
    },
    invalidNameFeedback() {
      if (this.userData.name.length < 4) {
        return "Nama Pengguna Tidak Boleh Kosong dan Minimal 4 Karakter";
      }
    },
    invalidEmailFeedback() {
      if (!this.validEmail(this.userData.email)) {
        return "Mohon periksa kembali email yang ada inputkan, pastikan format email benar";
      }
    },
  },
  created() {
    console.log(this.$route.params.id);
    this.$route.params.id != "new"
      ? this.fetchUserData()
      : (this.isLoading = false);
  },
  methods: {
    disableUser() {
      var vm = this;
      vm.isLoading = true;
      var iduser = this.$route.params.id;
      axios
        .post("/api/user/disableUser", { id: iduser })
        .then(function (response) {
          if (response.status == 200) {
            vm.fetchUserData();
            vm.isLoading = false;
          }
        })
        .catch(function (error) {
          console.log(error);
        });
    },
    enableUser() {
      var vm = this;
      vm.isLoading = true;
      var iduser = this.$route.params.id;
      axios
        .post("/api/user/enableUser", { id: iduser })
        .then(function (response) {
          if (response.status == 200) {
            vm.fetchUserData();
            vm.isLoading = false;
          }
        })
        .catch(function (error) {
          console.log(error);
        });
    },
    showNotif(
      variant = null,
      title = "default",
      msg = "default",
      append = false
    ) {
      this.$bvToast.toast(msg, {
        title: title,
        autoHideDelay: 5000,
        variant: variant,
        appendToast: append,
      });
    },

    changePassword(e) {
      var vm = this;
      e.preventDefault();
      let data = {
        uuid: this.userData.id,
        new: this.password.new,
      };

      axios
        .post("/api/user/changepass", data)
        .then((s) => {
          s.status == 200 && s.data.success == true
            ? vm.showNotif("success", "Berhasil ganti password", "success")
            : vm.showNotif("danger", s.data.error.msg, s.data.error.code);
        })
        .catch((e) => {
          console.log(e);
        });
    },
    fetchUserData() {
      var vm = this;
      var iduser = this.$route.params.id;
      axios
        .post("/api/user/details", { id: iduser })
        .then(function (response) {
          if (response.status == 200) {
            vm.userData = response.data.data;
            vm.isLoading = false;
          }
        })
        .catch(function (error) {
          console.log(error);
        });
    },
    validEmail: function (email) {
      var re = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
      return re.test(email);
    },
    deleteUser(item) {
      var vm = this;
      var iduser = this.$route.params.id;
      axios
        .post("/api/user/delete", { id: iduser })
        .then(function (response) {
          if (response.status == 200) {
            if (response.data.success == true) {
              vm.$router.push({ name: "manajemenUserList" });
            }
          }
        })
        .catch(function (error) {
          console.log(error);
        });
    },
    updateUser() {
      var vm = this;

      axios
        .post("/api/user/add", this.userData)
        .then(function (response) {
          if (response.status == 200) {
            vm.$bvToast.toast("Data user berhasil diinput", {
              title: "Success",
              autoHideDelay: 5000,
              variant: "success",
              appendToast: false,
            });
            vm.$router.go(-1);
          } else {
            vm.$bvToast.toast(response.data.error.msg, {
              title: "Error : " + response.data.error.code,
              autoHideDelay: 5000,
              variant: "danger",
              appendToast: false,
            });
          }
        })
        .catch(function (error) {
          console.log(error);
        });
    },
  },
};
</script>

<style>
</style>
