<template>
  <div>
    <div id="hasildukun">
      <h3 class="text-center text-primary mb-4 mt-2">Tebakan User Dukun Togel</h3>
      <b-form-group>
        <b-form-input v-model="keyword" placeholder="Ketik keyword pencarian untuk filter data"></b-form-input>
      </b-form-group>
      <div v-if="thisPeriodeData!=null">
        <b-table
          id="my-table"
          :items="filterItem"
          :per-page="perPage"
          :current-page="currentPage"
          :fields="table.fields"
          small
        >
          <template v-slot:cell(tebakan)="value">
            <div v-for="(item, index) in value.value" :key="index">
              <b-badge
                pill
                :variant="index =='Sydney' ? 'primary':'danger'"
              >{{ index }} : {{ item.colokbebas }} - {{ kombinasiOption[item.kombinasi2d].name }}</b-badge>
            </div>
          </template>

          <template v-slot:cell(actions)="item">
            <b-button variant="danger" @click="deleteTebakan(item.item.id)">Delete</b-button>
          </template>
        </b-table>
        <b-pagination
          v-model="currentPage"
          :total-rows="rows"
          :per-page="perPage"
          aria-controls="my-table"
          align="fill"
        ></b-pagination>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      keyword: "",
      perPage: 50,
      currentPage: 1,
      thisPeriodeData: null,
      table: {
        fields: [
          {
            key: "username",
            label: "Nama",
            thClass: "text-left",
            tdClass: "text-left",
            sortable: true,
          },
          {
            key: "tebakan",
            label: "Tebakan",
            thClass: "text-center",
            tdClass: "text-center",
            sortable: true,
          },
          {
            key: "tanggal",
            label: "Tanggal",
            thClass: "text-center",
            tdClass: "text-center",
            sortable: true,
          },
          {
            key: "status",
            label: "Status",
            thClass: "text-center",
            tdClass: "text-center",
            sortable: true,
          },
          {
            key: "actions",
            label: "Aksi",
            thClass: "text-center",
            tdClass: "text-center",
            sortable: false,
          },
        ],
      },
      kombinasiOption: [
        {
          name: "Besar - Genap",
        },
        {
          name: "Besar - Ganjil",
        },
        {
          name: "Kecil - Genap",
        },
        {
          name: "Kecil - Ganjil",
        },
      ],
    };
  },
  computed: {
    rows() {
      return this.thisPeriodeData != null ? this.filterItem.length : 1;
    },
    filterItem() {
      return this.keyword
        ? this.thisPeriodeData.filter(
            (item) =>
              item.username
                .toLowerCase()
                .includes(this.keyword.toLowerCase()) ||
              item.tanggal.toLowerCase().includes(this.keyword.toLowerCase())
          )
        : this.thisPeriodeData;
    },
    varianRandom() {
      var items = Array("success", "primary", "danger", "warning");
      var item = items[Math.floor(Math.random() * items.length)];
      return item;
    },
  },
  created() {
    this.fetchHasil();
  },
  methods: {
    deleteTebakan(id) {
      alert(id);
    },
    fetchHasil() {
      var vm = this;
      axios
        .get("/api/dukuntogel/tebakan")
        .then((r) => {
          if (r.status == 200 && r.data.success == true) {
            vm.thisPeriodeData = r.data.data;
          } else {
            console.log(r);
          }
        })
        .catch((e) => {
          console.log(e);
        });
    },
  },
};
</script>

<style>
</style>
