<template>
  <div>
    <h2 class="text-center text-primary">Peride Dukun Togel</h2>

    <div
      class="periode-dukun"
      v-if="uuid==null"
    >
      <router-link
        :to="{name: 'periodeDukunTogel',params:{uuid:'new'}}"
        tag="button"
        class="btn btn-success btn-block mb-5"
      >
        <iconPlusCircle></iconPlusCircle> &nbsp; Buat Periode
      </router-link>
      <hr>

      <ListPeriode></ListPeriode>

    </div>
    <div
      class="periode-dukun new"
      v-else-if="uuid=='new'"
    >
      <AddEdit id="new"></AddEdit>

    </div>
    <div
      class="periode-dukun exist"
      v-else
    >

      <AddEdit :id="uuid"></AddEdit>

    </div>

  </div>
</template>

<script>
import datetime from 'vuejs-datetimepicker';
import ListPeriode from './periode/list';
import AddEdit from './periode/add';
export default {
  components: {
    datetime, ListPeriode, AddEdit
  },
  data () {
    return {

      periodeForm: {
        uuid: this.uuid,
        name: '',
        description: '',
        start: '',
        end: '',

      },
      periodeList: null

    }
  },

  computed: {

    uuid () {
      if (this.$route.params.uuid) {
        // this.periodeForm.uuid = this.$route.params.uuid
        return this.$route.params.uuid
      } else {
        return null
      }


    }
  },
  created () {





  },



  methods: {

  },
}
</script>

<style>
</style>
