.banner-floating {
  text-align: center;
  display: block;
  max-width: 728px;
  height: auto;
  overflow: hidden;
  margin: auto;
}

.banner-floating a img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

.stickyfooter {
  height: auto;
  width: 100%;
  position: fixed;
  bottom: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

#fixedban {
  margin: -4px;
}
/*# sourceMappingURL=banner.css.map */