<template>
  <div>

    <h2 class="text-success text-center mb-1">{{ title }}</h2>

    <small
      class="text-danger text-center mb-3"
      v-if="form.id!='new'"
    >id : {{ form.id }}</small>

    <b-button
      @click="goBack"
      type="submit"
      variant="warning"
      class="mb-3"
      block
    >
      <iconArrowLeft></iconArrowLeft> &nbsp; Kembali
    </b-button>

    <b-overlay :show="isLoading == true">
      <b-form @submit="onSubmit">
        <!-- nama periode  -->
        <b-form-group>
          <b-form-input
            id="nama"
            v-model="form.nama"
            type="text"
            :state="namaPeriode"
            placeholder="Ketikkan nama periode, harus unik"
          >

          </b-form-input>
        </b-form-group>

        <!-- tanggal dan jam mulai -->
        <b-form-group
          :state="mulaiPeriode"
          :invalid-feedback="mulaiPeriodeFeedback"
          label="Pilih tanggal dan jam mulai periode"
        >
          <datetime
            format="YYYY-MM-DD H:i:s"
            width="100%"
            v-model="form.mulai"
          ></datetime>

        </b-form-group>
        <!-- tanggal dan jam selesai -->
        <b-form-group
          label="Pilih tanggal dan jam tutup periode"
          :state="selesaiPeriode"
          :invalid-feedback="selesaiPeriodeFeedback"
        >
          <datetime
            format="YYYY-MM-DD H:i:s"
            width="100%"
            v-model="form.selesai"
          ></datetime>

        </b-form-group>

        <b-form-group
          label="Keterangan periode (boleh dikosongkan)"
          :state="selesaiPeriode"
        >
          <!-- keterangan -->
          <b-form-input
            id="nama"
            v-model="form.keterangan"
            type="text"
            placeholder="(optional)"
          >

          </b-form-input>

        </b-form-group>

        <b-form-group>
          <b-button
            :disabled="isFilled"
            type="submit"
            variant="primary"
            block
          >

            <iconCheckCircle> </iconCheckCircle> &nbsp;{{ saveButtonText }}
          </b-button>
        </b-form-group>
        <b-form-group>
          <b-button
            :hidden="deleteButtonState"
            @click="deletePeriode"
            type="button"
            variant="danger"
            block
          >

            <iconTrash>
            </iconTrash> &nbsp;Delete Periode
          </b-button>
        </b-form-group>
      </b-form>

      <template v-slot:overlay>

        <div
          v-if="busy"
          ref="dialog"
          tabindex="-1"
          role="dialog"
          aria-modal="false"
          aria-labelledby="form-confirm-label"
          class="text-center p-3"
        >
          <p><strong id="form-confirm-label">Hapus Periode ?</strong></p>
          <div class="d-flex">
            <b-button
              variant="outline-danger"
              class="mr-3"
              @click="onCancel"
            >
              Cancel
            </b-button>
            <b-button
              variant="outline-success"
              @click="onOK"
            >OK</b-button>
          </div>
        </div>
      </template>
    </b-overlay>

  </div>
</template>

<script>
import datetime from 'vuejs-datetimepicker';
// import axios from 'axios';

export default {
  components: {
    datetime
  },

  computed: {

    saveButtonText () {
      return this.form.id != 'new' ? 'Update Data' : 'Buat Periode'
    },
    title () {
      return this.form.id != 'new' ? 'Editing : ' : 'Buat Periode Baru'
    },
    deleteButtonState () {
      return this.form.id == 'new' ? true : false
    },

    isFilled () {
      return this.form.nama.length < 1 || this.form.mulai.length < 1 || this.form.selesai.length < 1 ? true : false
    },

    namaPeriode () {
      return this.form.nama.length < 1 ? false : true
    },
    // mulai periode watch
    mulaiPeriode () {
      return this.form.mulai.length < 1 ? false : true
    },
    mulaiPeriodeFeedback () {
      return this.form.mulai.length < 1 ? 'Pilih tanggal dan jam terlebih dahulu' : ''
    },
    // selesai periode watch
    selesaiPeriode () {
      return this.form.selesai.length < 1 ? false : true
    },
    selesaiPeriodeFeedback () {
      return this.form.mulai.length < 1 ? 'Pilih tanggal dan jam terlebih dahulu' : ''
    }
  },
  data () {
    return {
      isLoading: false,
      busy: false,
      form: {
        id: 'new',
        nama: '',
        mulai: '',
        selesai: '',
        keterangan: '',

      }
    }
  },
  created () {
    if (this.$route.params.uuid) {
      this.form.id = this.$route.params.uuid

      this.fetchData(this.$route.params.uuid)
    }
  },
  methods: {
    onCancel () {
      this.isLoading = false,
        this.busy = false
    },
    onOK () {
      var vm = this

      axios.delete('/api/periode/' + this.form.id)
        .then(R => {
          if (R.status == 200) {
            vm.makeToast('success', 'Data berhasil di update', 'Success')
            vm.isLoading = false
            vm.busy = false

            vm.$router.go(-1)
          }
          else {
            vm.makeToast('danger', R.data.error.msg, R.data.error.code)
          }
        })
    },

    deletePeriode () {
      this.isLoading = true
      this.busy = true
    },
    fetchData (uuid) {
      var vm = this
      this.isLoading = true
      axios.get('/api/periode/' + uuid)
        .then(r => {
          r.status == 200 ? vm.form = r.data.data : makeToast('danger', r.data.error.msg, r.data.status.code)
          vm.isLoading = false
          vm.busy = false
        }).catch(e => {
          console.log(e)
          vm.isLoading = false
          vm.busy = false
        })

    },
    goBack () {
      this.$router.back()
    },
    makeToast (variant = 'primary', content, title) {
      this.$bvToast.toast(content, {
        title: title,
        variant: variant,
        append: false,
        solid: true
      })
    },


    onSubmit (e) {
      e.preventDefault();
      var vm = this

      axios.post('/api/periode', vm.form)
        .then(response => {
          if (response.status == 200) {
            vm.makeToast('success', 'Periode berhasil ditambah', 'Success')
            vm.$router.push({ name: 'manajemenPeriode' })
          } else {

            vm.makeToast('danger', response.data.error.msg, response.data.error.code)

          }

        }).catch(error => {
          console.log(error)
        })
    }
  },
}
</script>

<style>
</style>
