 <template>
  <div>
    <h2 class="text-center text-primary mb-4">
      Tutup Periode
    </h2>
    <small class="text-danger mb-3">ID Lomba : {{form.uuid}}</small>

    <b-form
      @submit="onSubmit"
      class="mt-3"
    >
      <b-form-group>
        <b-form-input
          type="number"
          v-model="form.angkakeluar"
          placeholder="Masukkan angka keluaran"
        >

        </b-form-input>
      </b-form-group>

      <b-form-group>
        <b-button
          type="submit"
          variant="primary"
          block
        >
          Tutup Pasaran
        </b-button>
      </b-form-group>
    </b-form>
  </div>
</template>

 <script>
export default {
  data () {
    return {
      form: {
        uuid: null,
        angkakeluar: ''
      }

    }
  },
  computed: {

  },
  created () {
    this.form.uuid = this.$route.params.uuid
  },
  methods: {
    onSubmit (e) {
      e.preventDefault()
      alert('clicked')

    }
  },

}
 </script>

 <style>
</style>
