 <script>
// import axios from 'axios'
export default {

  data () {
    return {
      debug: false,
      keyword: '',
      periodeData: null
    }
  },
  created () {
    this.fetchData()
  },
  computed: {
    dataPeriode () {
      return this.keyword != '' ?
        this.periodeData.filter(
          item =>
            item.nama.toLowerCase().includes(this.keyword.toLowerCase())
        ) : this.periodeData

    }
  },
  methods: {
    deletePeriode (id) {
      var vm = this
      axios.delete('/api/periode/' + id)
        .then(r => {
          vm.fetchData();
        }).catch(e => {
          console.log(e)
        })
    },
    akhiriPeriode (id) {

      this.$router.push({ name: 'manajemenHasilPeriode', params: { uuid: id } })
    },
    fetchData () {
      var vm = this
      axios.get('/api/periode')
        .then(r => {
          if (r.status == 200) {

            vm.periodeData = r.data.data

          } else {
            vm.makeToast('danger', r.data.error.msg, r.data.error.code)
          }

        })
        .catch(e => {
          console.log(e)
        })
    }
  },
  makeToast (variant = 'primary', content, title) {
    this.$bvToast.toast(content, {
      title: title,
      variant: variant,
      append: false,
      solid: true
    })
  },

}
 </script>



 <template>
  <div>
    <h2 class="text-center text-primary m-3">Periode Lomba</h2>
    <router-link
      :to="{name: 'manajemenTambahPeriode'}"
      tag="button"
      class="btn btn-success btn-block mb-5"
    >
      <iconPlusCircle></iconPlusCircle> &nbsp; Buat Periode
    </router-link>
    <hr>
    <b-form-group>
      <b-form-input
        v-model="keyword"
        placeholder="Filter / Cari"
      ></b-form-input>
    </b-form-group>

    <b-card
      v-for="(item, index) in dataPeriode"
      :key="index"
      no-body
      class="mb-2"
    >
      <b-card-header
        header-tag="header"
        class="p-1"
        role="tab"
      >
        <b-button
          block
          href="#"
          v-b-toggle="'accordion-' + index"
          :variant="item.status == 1 ? 'info':'danger'"
          class="text-left"
        >#{{index+1}} - {{item.nama}}</b-button>
      </b-card-header>
      <b-collapse
        :id="'accordion-'+index "
        accordion="my-accordion"
        role="tabpanel"
      >
        <b-card-body>
          <b-card-text>
            <p>Status : <span :class=" item.status == 1 ? 'text-success':'text-danger' ">{{ item.status == 1 ? 'Buka':'Tutup' }}</span> </p>
            <p>Mulai : <span class="text-primary">{{ item.mulai }}</span></p>
            <p> Berakhir : <span class="text-danger">{{ item.selesai }}</span></p>
            <p> Total Peserta : <span class="text-info">333</span></p>
            <p v-if="item.status!=1"> Pemenang : <span class="text-danger"> NAMA_PEMENANG</span></p>
          </b-card-text>

          <b-button
            v-if="item.status ==1"
            block
            variant="primary"
            @click="akhiriPeriode(item.id)"
          >Akhiri Masukan</b-button>
          <router-link
            tag="button"
            class="btn btn-block btn-info"
            :to="{name:'manajemenTambahPeriode',params:{uuid:item.id}}"
          >Edit Periode</router-link>

          <b-button
            @click="deletePeriode(item.id)"
            variant="danger"
            block
          >
            HAPUS PERIODE
          </b-button>

        </b-card-body>
      </b-collapse>
    </b-card>

    <pre v-if="periodeData!=null && debug == true">{{periodeData}}</pre>

  </div>
</template>




<style lang="scss" scoped>
.center {
  text-align: center;
}
</style>
