<template>
  <div>
    <div class="clearfix"></div>

    <div class="row justify-content-center">
      <div class="col-md-8 mt-10">
        <b-overlay :show="isLoading">
          <h2 class="text-center">Tambah Menu</h2>
          <b-form
            @submit="onSubmit"
            @reset="onReset"
          >
            <!-- nama menu -->
            <b-form-group
              id="input-group-name"
              label="Nama Menu"
              label-for="name"
              description="Masukkan Nama Menu /  Title Menu Yang Akan Ditampilkan"
              :invalid-feedback="valueInvalid"
            >
              <b-form-input
                id="page"
                v-model="formData.name"
                type="text"
                required
                :state="nameState"
                placeholder="Menu 1"
              ></b-form-input>
            </b-form-group>
            <!-- type menu -->
            <b-form-group
              id="input-group-name"
              label="Nama Menu"
              label-for="name"
              description="Masukkan Nama Menu /  Title Menu Yang Akan Ditampilkan"
            >
              <b-form-select
                v-model="formData.selected"
                :options="formData.options"
                value-field="type"
                text-field="name"
              ></b-form-select>
            </b-form-group>
            <!-- select page -->
            <b-form-group
              v-if="formData.selected=='provider' "
              id="input-group-name"
              label="Nama Menu"
              label-for="name"
              description="Masukkan Nama Menu /  Title Menu Yang Akan Ditampilkan"
            >
              <b-form-select
                v-if="pageList != null"
                v-model="selectedPage"
                :options="pageList"
                value-field="nama"
                text-field="nama"
              >
                <template v-slot:first>
                  <b-form-select-option
                    :value="null"
                    disabled
                  >-- Silahkan Pilih Provider --</b-form-select-option>
                </template>
              </b-form-select>
            </b-form-group>
            <b-form-group
              v-if="formData.selected=='page' "
              id="input-group-name"
              label="Nama Menu"
              label-for="name"
              description="Masukkan Nama Menu /  Title Menu Yang Akan Ditampilkan"
            >

              <b-form-select
                v-if="pageListx != null"
                v-model="selectedPagex"
                :options="pageListx"
                value-field="id"
                text-field="title"
              >
                <template v-slot:first>
                  <b-form-select-option
                    :value="null"
                    disabled
                  >-- Silahkan Pilih Page --</b-form-select-option>
                </template>
              </b-form-select>

            </b-form-group>

            <!--  value -->
            <b-form-group
              v-if="formData.selected!='provider' && formData.selected != 'page'"
              id="input-group-value"
              label="Link Menu"
              label-for="value"
              description="Masukkan arah link atau halaman yang akan ditampilkan"
              :invalid-feedback="nameInvalid"
            >
              <b-form-input
                id="value"
                v-model="formData.value"
                type="text"
                required
                :state="valueState"
                placeholder="Menu 1"
              ></b-form-input>
            </b-form-group>
            <b-button
              type="submit"
              variant="primary"
              block
            >TAMBAH MENU</b-button>
          </b-form>
          <template v-slot:overlay>
            <div class="text-center">
              <Origami></Origami>
            </div>
          </template>
        </b-overlay>
      </div>
    </div>
  </div>
</template>

<script>
import axios from "axios";
import Origami from "vue-loading-spinner/src/components/Origami";
export default {
  components: {
    Origami
  },
  data () {
    return {
      isLoading: true,
      pageList: null,
      pageListx: null,
      loadingSubmit: null,
      selectedPage: null,
      selectedPagex: null,
      formData: {
        name: "",
        selected: "link",
        options: [
          { type: "link", name: "Link Langsung" },
          { type: "page", name: "Page" },
          { type: "provider", name: "Halaman Provider Keluaran" }
        ],
        value: ""
      }
    };
  },
  computed: {
    loadingState () {
      return this.pageList == null && this.loadingSubmit != false ? false : true;
    },
    selectedType () {

      return this.formData.selected
    },
    selectedValue () {

      if (this.formData.selected == "provider") {
        return this.selectedPage
      }
      else if (this.formData.selected == "page") {
        return this.selectedPagex
      }
      else {
        return this.formData.value
      }
    },
    valueState () {
      return this.formData.value.length > 3 ? true : false;
    },
    valueInvalid () {
      return this.formData.value.length > 3
        ? ""
        : "Panjang value minimal 3 karakter";
    },
    nameState () {
      return this.formData.name.length > 3 ? true : false;
    },
    nameInvalid () {
      return this.formData.length > 3
        ? ""
        : "Panjang title /  nama menu harus lebih dari 4 huruf";
    }
  },
  mounted () {

  },
  created () {
    this.isLoading = true
    this.fetchAllowedPage();
    this.getMenuDetails()

  },
  methods: {
    getMenuDetails () {
      this.isLoading = true;

      var vm = this
      var idMenu = this.$route.params.id
      axios.get('/api/menu/details/' + idMenu)
        .then(function (response) {
          if (response.data.success == true) {

            vm.selectedPage = response.data.data.value
            vm.selectedPagex = response.data.data.value

            vm.formData.name = response.data.data.name
            vm.formData.selected = response.data.data.type
            vm.formData.value = response.data.data.value

          }
        }).catch(function (error) {
          console.log(error)
        })
    },
    onSubmit (e) {
      e.preventDefault();
      var vm = this;
      vm.isLoading = true;

      //   console.log({
      //     name: this.formData.name,
      //     type: this.selectedType,
      //     value: this.selectedValue
      //   })
      var idMenu = this.$route.params.id
      axios
        .post("/api/menu/add", {
          id: idMenu,
          name: this.formData.name,
          type: this.selectedType,
          value: this.selectedValue
        })
        .then(function (response) {
          if (response.status == 200 && response.data.success == true) {
            vm.$router.push({ name: "manajemenMenuList" });
            vm.isLoading = false;
            console.log(response.data.msg);
          }
        })
        .catch(function (error) {
          console.log(error);
        });
    },
    onReset () {
      alert("reset");
    },
    fetchAllowedPage () {
      var vm = this;

      axios
        .get("/api/page/formenu")
        .then(function (response) {
          if (response.status == 200 && response.data.success == true) {
            vm.pageListx = response.data.data;

          }
        })
        .catch(function (error) {
          console.log(error);
        });

      axios
        .get("/api/page/allowed")
        .then(function (response) {
          if (response.status == 200 && response.data.success == true) {
            vm.pageList = response.data.data;
            vm.isLoading = false

          }
        })
        .catch(function (error) {
          console.log(error);
        });


    }
  }
};
</script>

<style>
</style>
