<template>
  <div>
    <div class="clearfix"></div>

    <div class="row justify-content-center">
      <div class="col-md-8 mt-10">
        <b-overlay
          :show="isLoading"
          rounded="sm"
        >
          <h2 class="text-center">Silahkan Pindahkan Posisi Menu</h2>
          <b-button
            v-if="menuList != null && isLoading== false"
            block
            @click="updateOrder"
            class="mt-5 mb-3"
            variant="success"
          >
            <iconCheckCircle></iconCheckCircle>&nbsp; SIMPAN PERUBAHAN
          </b-button>
          <table class="table table-striped">
            <thead class="thead-light">
              <tr>
                <th scope="col">#</th>
                <th scope="col">Nama</th>
                <th
                  scope="col"
                  class="text-center"
                >Action</th>

              </tr>
            </thead>
            <draggable
              v-if="menuList != null"
              v-model="menuList"
              @start="drag=true"
              v-bind="dragOptions"
              @end="drag=false"
              tag="tbody"
            >
              <tr
                v-for="(item, index) in menuList"
                :key="item.id"
              >
                <td scope="row">{{ index+1 }}</td>
                <td>{{ item.name }}</td>
                <td class="text-center">
                  <b-button-group>

                    <b-button
                      variant="info"
                      @click="editMenu(item.id)"
                    >
                      <iconPencil></iconPencil>
                    </b-button>
                    <b-button
                      variant="danger"
                      @click="deleteMenu(item.id)"
                    >
                      <iconTrash></iconTrash>
                    </b-button>
                  </b-button-group>
                </td>

              </tr>
            </draggable>
            <b-list-group v-else>
              <b-list-group-item
                v-for="(item, index) in modelItems"
                :key="index"
              >Menu is Loading....</b-list-group-item>
            </b-list-group>
          </table>

          <!-- <draggable
            v-if="menuList != null"
            class="list-group"
            tag="ul"
            v-model="menuList"
            @start="drag=true"
            v-bind="dragOptions"
            @end="drag=false"
          >

            <transition-group
              type="transition"
              :name="!drag ? 'flip-list' : null"
            >
              <li
                class="list-group-item d-flex justify-content-between align-items-cente"
                v-for="item in menuList"
                :key="item.id"
              >
                {{ item.name }}
                <b-badge
                  variant="danger"
                  @click="deleteMenu(item.id)"
                >
                  &nbsp; X &nbsp;
                </b-badge>
              </li>
            </transition-group>
          </draggable> -->

          <template v-slot:overlay>
            <div
              class="text-center"
              v-if="isConfirm == false"
            >
              <Origami></Origami>
            </div>
            <div
              v-else
              ref="dialog"
              tabindex="-1"
              role="dialog"
              aria-modal="false"
              aria-labelledby="form-confirm-label"
              class="text-center p-3"
            >
              <p><strong id="form-confirm-label">Hapus Menu?</strong></p>
              <div class="d-flex">
                <b-button
                  variant="outline-danger"
                  class="mr-3"
                  @click="cancelDelete"
                >
                  Cancel
                </b-button>
                <b-button
                  variant="outline-success"
                  @click="confirmDelete"
                >OK</b-button>
              </div>
            </div>
          </template>

        </b-overlay>
      </div>
    </div>
  </div>
</template>

<script>
import draggable from "vuedraggable";
import axios from "axios";
import Origami from "vue-loading-spinner/src/components/Origami";

export default {
  components: {
    draggable,
    Origami
  },
  data () {
    return {
      deleteID: null,
      isConfirm: false,
      modelItems: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11],
      isLoading: true,
      drag: false,
      menuList: null
    };
  },

  created () {
    this.fetchData();
    // menuList = this.fetchData();
  },
  computed: {
    dragOptions () {
      return {
        animation: 200,
        group: "description",
        disabled: false,
        ghostClass: "ghost"
      };
    }
  },
  methods: {
    editMenu (id) {
      this.$router.push({ name: 'manajemenMenuEdit', params: { id: id } })
    },
    cancelDelete () {
      this.isLoading = false
      this.isConfirm = false
    },
    confirmDelete () {
      var vm = this
      this.isLoading = true
      this.isConfirm = false
      axios
        .post("/api/menu/delete", { id: this.deleteID })
        .then(function (response) {
          // console.log(response.data.data);
          vm.menuList = response.data.data
          vm.fetchData()
          vm.isLoading = false;
          // return response.data.data;
        })
        .catch(function (error) {
          console.log(error);
        });
    },
    deleteMenu (id) {
      this.deleteID = id
      this.isLoading = true
      this.isConfirm = true

    },
    log () {
      // console.log(this.menuList);
    },
    fetchData () {
      var vm = this;
      axios
        .get("/api/menu/list")
        .then(function (response) {
          // console.log(response.data.data);
          vm.menuList = response.data.data;
          vm.isLoading = false;
          // return response.data.data;
        })
        .catch(function (error) {
          console.log(error);
        });
    },
    updateOrder () {
      var vm = this;
      this.isLoading = true;
      axios
        .post("/api/menu/update", { data: this.menuList })
        .then(function (response) {
          if (response.status == 200) {
            if (response.data.success == true) {
              vm.isLoading = false;
            }
          }
        })
        .catch(function (error) {
          console.log(error);
        });
    }
  }
};
</script>

<style>
</style>
