<template>
  <div>
    <div v-if="userSelectedHistory == null ">
      <h2 class="caption">Klasemen Sementara</h2>
      <input class="keyword" type="text" v-model="keyword" placeholder="Cari nama kamu disini" />

      <div class="pengumuman" v-html="pengumuman.html"></div>
      <div class="klasemen-lomba header">
        <div>Rank</div>
        <div>Dukun</div>
        <div>Poin</div>
        <div>History</div>
      </div>

      <div v-for="(item, index) in tableDataFilter" :key="index" class="klasemen-lomba">
        <div>#{{(currentPage*20) + index+1}}</div>
        <div class="bandar-title">{{ item.name }}</div>
        <div>
          <span class="jp">{{ item.skor }}</span>
        </div>

        <div>
          <a
            class="cek-history full big top"
            @click="checkHistory(item.data,item.angka_keluar,item.name,item.uncount)"
          >Cek History</a>
          <!-- <a class="daftar-bandarfull full big top-1">daftar</a> -->
        </div>
      </div>
      <div class="pagination">
        <a @click="prev" :class="`previous ` + prevClass">&laquo; Previous</a>
        <a @click="next" :class="`next ` + nextClass">Next &raquo;</a>
      </div>
    </div>
    <div v-else class="user-history">
      <h3 class="nama-user" v-if="name != null">History Prediksi Dukun : {{name}}</h3>

      <table class="table-dukun shio-table">
        <tbody v-if="userUncountHistory != null">
          <tr>
            <td class="shio-name">{{ userUncountHistory.tanggal | formatTanggal2 }}</td>
            <td class="shio-number dk-provider">Sydney</td>

            <td
              class="shio-number dk-tebakan"
            >Colok Bebas : {{ userUncountHistory.colokbebas_sydney.tebakan }}</td>
            <td class="shio-number dk-keluar"></td>
            <td></td>
          </tr>
          <tr>
            <td class="shio-name">{{ userUncountHistory.tanggal | formatTanggal2 }}</td>
            <td class="shio-number dk-provider">Sydney</td>

            <td class="shio-number dk-tebakan">{{ userUncountHistory.kombinasi_sydney.tebakan }}</td>
            <td class="shio-number dk-keluar"></td>
            <td></td>
          </tr>
          <tr>
            <td class="shio-name">{{ userUncountHistory.tanggal | formatTanggal2 }}</td>
            <td class="shio-number dk-provider">Hongkong</td>

            <td
              class="shio-number dk-tebakan"
            >Colok Bebas : {{ userUncountHistory.colokbebas_hongkong.tebakan }}</td>
            <td class="shio-number dk-keluar"></td>
            <td></td>
          </tr>
          <tr>
            <td class="shio-name">{{ userUncountHistory.tanggal | formatTanggal2 }}</td>
            <td class="shio-number dk-provider">Hongkong</td>

            <td class="shio-number dk-tebakan">{{ userUncountHistory.kombinasi_hongkong.tebakan }}</td>
            <td class="shio-number dk-keluar"></td>
            <td></td>
          </tr>
        </tbody>

        <tbody v-for="(itemx, index) in userSelectedHistoryFilter" :key="index">
          <tr>
            <td class="shio-name">{{ itemx.tanggal | formatTanggal2 }}</td>
            <td class="shio-number dk-provider">Sydney</td>

            <td
              class="shio-number dk-tebakan"
            >Colok Bebas : {{ itemx.tebakan.tebakan.Sydney.colokbebas }}</td>
            <td class="shio-number dk-keluar">{{ itemx.keluaran_sydney }}</td>
            <td
              :class="{'shio-number dk-skor notjp': itemx.colokbebas_sydney !=null && itemx.colokbebas_sydney.skor !=0 , 'shio-number dk-skor isjpx': itemx.colokbebas_sydney !=null ||itemx.colokbebas_sydney ==0}"
            >{{itemx.colokbebas_sydney !=null ? itemx.colokbebas_sydney.skor : ''}}</td>
          </tr>
          <tr>
            <td class="shio-name">{{ itemx.tanggal | formatTanggal2 }}</td>
            <td class="shio-number dk-provider">Sydney</td>
            <td
              class="shio-number dk-tebakan"
            >{{ kombinasiOption[itemx.tebakan.tebakan.Sydney.kombinasi2d].name }}</td>
            <td class="shio-number dk-keluar">{{ itemx.keluaran_sydney }}</td>
            <td
              :class="{'shio-number dk-skor notjp': itemx.kombinasi_sydney !=null && itemx.kombinasi_sydney.skor !=0 , 'shio-number dk-skor isjpx': itemx.kombinasi_sydney !=null ||itemx.kombinasi_sydney ==0}"
            >{{itemx.kombinasi_sydney != null ? itemx.kombinasi_sydney.skor : ''}}</td>
          </tr>
          <tr>
            <td class="shio-name">{{ itemx.tanggal | formatTanggal2 }}</td>
            <td class="shio-number dk-provider">Hongkong</td>

            <td
              class="shio-number dk-tebakan"
            >Colok Bebas : {{ itemx.tebakan.tebakan.Hongkong.colokbebas }}</td>
            <td class="shio-number dk-keluar">{{ itemx.keluaran_hongkong }}</td>
            <td
              :class="{'shio-number dk-skor notjp': itemx.colokbebas_hongkong !=null && itemx.colokbebas_hongkong.skor !=0 , 'shio-number dk-skor isjpx': itemx.colokbebas_hongkong !=null ||itemx.colokbebas_hongkong ==0}"
            >{{itemx.colokbebas_hongkong !=null ? itemx.colokbebas_hongkong.skor : ''}}</td>
          </tr>
          <tr>
            <td class="shio-name">{{ itemx.tanggal | formatTanggal2 }}</td>
            <td class="shio-number dk-provider">Hongkong</td>
            <td
              class="shio-number dk-tebakan"
            >{{kombinasiOption[itemx.tebakan.tebakan.Hongkong.kombinasi2d].name }}</td>
            <td class="shio-number dk-keluar">{{ itemx.keluaran_hongkong }}</td>
            <td
              :class="{'shio-number dk-skor notjp': itemx.kombinasi_hongkong !=null && itemx.kombinasi_hongkong.skor !=0 , 'shio-number dk-skor isjpx': itemx.kombinasi_hongkong !=null ||itemx.kombinasi_hongkong ==0}"
            >{{itemx.kombinasi_hongkong != null ? itemx.kombinasi_hongkong.skor : ''}}</td>
          </tr>
        </tbody>
      </table>

      <div class="history-pagination">
        <button
          class="btn-history-page next"
          @click="prevHistory()"
          :disabled="this.currentPageHistory ==0"
        >Sebelumnya</button>
        <button
          class="btn-history-page prev"
          @click="nextHistory()"
          :disabled="this.currentPageHistory == this.pageCount +2"
        >Selanjutnya</button>
      </div>

      <!-- <button class="button-back full big top" @click="{userSelectedHistory = null}">Next</button> -->
      <button class="button-back full big top" @click="resetSelectedHistory">Kembali</button>
    </div>
  </div>
</template>

<script>
export default {
  name: "klasemen-dukun",
  data() {
    return {
      pengumuman: {
        html: "",
      },
      angka: null,
      name: null,
      keyword: "",
      userSelectedHistory: null,
      userUncountHistory: null,
      userHistory: null,
      perPage: 20,
      perPageHistory: 5,
      currentPage: 0,
      currentPageHistory: 0,
      tableData: null,
      kombinasiOption: [
        {
          name: "Besar - Genap",
        },
        {
          name: "Besar - Ganjil",
        },
        {
          name: "Kecil - Genap",
        },
        {
          name: "Kecil - Ganjil",
        },
      ],
    };
  },
  computed: {
    userSelectedHistoryFilter() {
      const start = this.currentPageHistory * this.perPageHistory;
      const end = start + this.perPageHistory;
      console.log("Start : " + start + "end =" + end);

      return this.userSelectedHistory != null
        ? this.userSelectedHistory.slice(start, end)
        : this.userSelectedHistory;
    },

    prevClass() {
      return this.currentPage == 0 ? "hidden" : "";
    },
    nextClass() {
      return this.currentPage == this.pageCount - 1 || this.pageCount == 0
        ? "hidden"
        : "";
    },

    // hitung paginasi
    pageCount() {
      if (this.tableData != null) {
        let l = this.tableData.length,
          s = this.perPage;
        return Math.ceil(l / s);
      }
    },
    paginatedData() {
      const start = this.currentPage * this.perPage,
        end = start + this.perPage;

      return this.tableData != null
        ? this.tableData.slice(start, end)
        : this.tableData;
    },
    tableDataFilter() {
      return this.keyword != ""
        ? this.tableData.filter((item) =>
            item.name.toLowerCase().includes(this.keyword.toLowerCase())
          )
        : this.paginatedData;
    },
  },

  created() {
    this.getKlasemen();
    this.fetchCustomMessage();
  },
  methods: {
    resetSelectedHistory() {
      this.userUncountHistory = null;
      this.userSelectedHistory = null;
      this.currentPageHistory = 0;
    },
    prevHistory() {
      if (this.currentPageHistory != 0) {
        this.currentPageHistory = this.currentPageHistory - 1;
      }
    },
    nextHistory() {
      if (this.currentPageHistory <= this.pageCount + 1) {
        this.currentPageHistory = this.currentPageHistory + 1;
      }
    },

    fetchCustomMessage() {
      var vm = this;
      axios
        .get("/api/dukuntogel/custommsg")
        .then((r) => {
          vm.pengumuman = r.data.pengumuman;
        })
        .catch((e) => {
          console.log(e);
        });
    },

    filterPoin(e) {
      console.log(e);
    },

    getKlasemen() {
      var vm = this;
      axios
        .get("/api/dukuntogel/klasemen")
        .then((r) => {
          r.status == 200 ? (vm.tableData = r.data.data) : "";
        })
        .catch((e) => {
          console.log(e);
        });
    },
    next() {
      this.currentPage < this.pageCount - 1
        ? (this.currentPage = this.currentPage + 1)
        : "";
      console.log(this.currentPage + " max : " + this.pageCount);
    },
    prev() {
      this.currentPage >= 0 ? (this.currentPage = this.currentPage - 1) : "";
      console.log(this.currentPage + " max : " + this.pageCount);
    },
    checkHistory(iduser, angka, name, uncount) {
      this.userUncountHistory = uncount;
      this.userSelectedHistory = iduser;
      this.angka = angka;
      this.name = name;
    },
    showKlasemen() {
      this.userSelectedHistory = null;
      this.userHistory = null;
    },
  },
};
</script>

<style lang="scss" >
.history-pagination {
  margin: 5px 0px 5px 0px;
  .btn-history-page {
    color: white;
    background: linear-gradient(to bottom, #33ccff 0%, #0066cc 100%);
    //   margin: 5px 0px 5px 0px;
    width: 50%;
    padding: 10px;
    font-size: 1em;
    &:hover {
      cursor: pointer;
    }
    &.prev {
      float: right;
      margin: auto;
    }
  }
}

.table-dukun {
  // font-size: 0.8em;

  .dk-provider {
    text-align: left;
  }
  .dk-tebakan {
    text-align: left;
  }
  .dk-skor {
    text-align: center;
    margin: auto;
  }
}
</style>



