<template>
  <div>

    <div v-if="isclosed ==true">

      <div
        v-if="msg!=null"
        v-html="msg.closeMessage"
      ></div>
    </div>
    <div v-else>
      <div v-if="data!=null">

        <div class="msgsudahinput">
          Prediksi Dukun hari ini {{ tanggal }}, sudah berhasil dikirim.
        </div>
        <div v-html="custom.header"></div>

        <div class="already-input">
          <div class="input-userinfo">Nama Dukun : <strong>{{ user.name }}</strong> </div>
          <br>

          <div
            class="box-result"
            v-for="(item, index) in data.tebakan"
            :key="index"
          >
            Prediksi {{ index }} {{ tanggal }}
            <br>
            <br>
            Colok Bebas : {{ item.colokbebas }}
            <br>
            Kombinasi 2D : {{ kombinasiOption[item.kombinasi2d].name }}
          </div>

          <div v-html="custom.footer"></div>
        </div>

      </div>
    </div>

  </div>

</template>

<script>
export default {
  props: ['data', 'tanggal', 'kombinasiOption', 'user', 'custom', 'msg', 'isclosed']

}
</script>

<style lang="scss" scoped>
.input-userinfo {
  font-size: 1.2em;
}

.already-input {
  background-color: #344461;
  border-radius: 10px;
  margin-top: 0.6em;
  padding: 10px;

  .box-result {
    font-size: 1.2em;
    margin-top: 0.6em;
    padding: 10px;
    background-color: #344461;
    // min-height: 200px;
    border: 2px solid white;
    border-radius: 6px;

    .tebakan {
      font-weight: bold;
    }

    .brand-image {
      height: 100px;
    }
  }
}
</style>

