<template>
  <div>
    <h2 class="text-center text-primary mb-3">CUSTOM MENU</h2>
    <b-button
      v-if="isLoading!=true"
      class="mb-3"
      variant="success"
      @click="updateData"
      block
    >UPDATE</b-button>
    <b-overlay :show="isLoading">
      <prism-editor
        v-model="queryData"
        lineNumbers
        language="css"
      ></prism-editor>
      <template v-slot:overlay>
        <div class="text-center">
          <Origami></Origami>
        </div>
      </template>
    </b-overlay>

  </div>

</template>

<script>
import "prismjs";
import "prismjs/themes/prism-coy.css";
import PrismEditor from 'vue-prism-editor'
import "vue-prism-editor/dist/VuePrismEditor.css"; // import the styles
// import Axios from 'axios';

import Origami from "vue-loading-spinner/src/components/Origami";

export default {
  components: {
    PrismEditor, Origami
  },
  data () {
    return {
      isLoading: true,
      notification: null,
      query: null
    }
  },
  created () {
    this.fetch()
  },
  computed: {
    queryData: {
      get: function () {
        return this.query == null ? '<!-- ISI KODE DIBAWAH. -->' : this.query
      },
      set: function (newval) {
        this.query = newval

      }
    }

  },
  methods: {
    showNotif (variant = null, title = 'default', msg = 'default', append = false) {

      this.$bvToast.toast(msg, {
        title: title,
        autoHideDelay: 5000,
        variant: variant,
        appendToast: append
      })
    },

    updateData () {
      var vm = this
      vm.isLoading = true
      axios.post('/api/settings/custommenu', { data: vm.query })
        .then(function (response) {
          if (response.data.success == true) {
            vm.isLoading = false
            vm.fetch()
            vm.showNotif('success', 'Sukes', 'Berhasil update custom css')

          }
        }).catch(function (error) {
          console.log(error)
          vm.isLoading = false
          vm.notification = error
        })
    },
    fetch () {
      var vm = this
      axios.get('/api/settings/custommenu')
        .then(function (response) {
          if (response.data.success == true) {
            vm.query = response.data.data
            vm.isLoading = false

          }
        }).catch(function (error) {
          console.log(error)
          vm.isLoading = false
        })

    }
  },

}
</script>
<style scoped>
.pre[class*="language-"] > code {
  position: relative;
  border-left: none;
  box-shadow: none;
  background-color: #fdfdfd;
  background-image: linear-gradient(
    transparent 50%,
    rgba(69, 142, 209, 0.04) 50%
  );
  background-size: 3em 3em;
  background-origin: content-box;
  background-attachment: local;
}
</style>

