<template>
  <div>
    <b-form @submit="submitForm">

      <b-form-group description="Nama Periode">
        <b-form-input v-model="periodeForm.name"></b-form-input>
      </b-form-group>
      <b-form-group description="Deskripsi Periode">
        <b-form-input v-model="periodeForm.description"></b-form-input>
      </b-form-group>
      <b-form-group description="Tanggal Mulai Periode">
        <b-form-group
          label="Pilih tanggal dan jam buka periode"
          :state="startPeriode"
          :invalid-feedback="startPeriodeFeedback"
        >
          <datetime
            format="YYYY-MM-DD H:i:s"
            width="100%"
            v-model="periodeForm.start"
          ></datetime>

        </b-form-group>
      </b-form-group>
      <b-form-group description="Tanggal Selesai Periode">
        <b-form-group
          label="Pilih tanggal dan jam tutup periode"
          :state="startPeriode"
          :invalid-feedback="startPeriodeFeedback"
        >
          <datetime
            format="YYYY-MM-DD H:i:s"
            width="100%"
            v-model="periodeForm.end"
          ></datetime>

        </b-form-group>
      </b-form-group>
      <b-form-group>
        <b-button
          :disabled="isFilled"
          type="submit"
          variant="primary"
          block
        >

          <iconCheckCircle> </iconCheckCircle> &nbsp;{{ saveButtonText }}
        </b-button>
      </b-form-group>
      <b-form-group>

        <b-button
          v-if="periodeForm.uuid !='new'"
          @click="deletePeriode"
          variant="danger"
          block
        >

          Delete
        </b-button>
      </b-form-group>

    </b-form>
  </div>
</template>

<script>
import datetime from 'vuejs-datetimepicker';

export default {
  components: {
    datetime
  },
  props: ['id'],
  data () {
    return {

      periodeForm: {
        uuid: this.id,
        name: '',
        description: '',
        start: '',
        end: '',

      },
    }
  },
  computed: {
    saveButtonText () {
      return this.uuid != 'new' ? 'Update Data' : 'Buat Periode'
    },
    isFilled () {
      return this.periodeForm.name.length < 1 || this.periodeForm.start.length < 1 || this.periodeForm.end.length < 1 || this.periodeForm.description.length < 1 ? true : false

    },
    // selesai periode watch
    startPeriode () {
      return this.periodeForm.start.length < 1 ? false : true
    },
    startPeriodeFeedback () {
      return this.periodeForm.start.length < 1 ? 'Pilih tanggal dan jam mulai periode terlebih dahulu' : ''
    },
    // selesai periode watch
    endPeriode () {
      return this.periodeForm.end.length < 1 ? false : true
    },
    endPeriodeFeedback () {
      return this.periodeForm.end.length < 1 ? 'Pilih tanggal dan jam mulai periode terlebih dahulu' : ''
    },
  },
  created () {
    this.periodeForm.uuid = this.id
    if (this.id != 'new') {
      this.fetchDetails(this.id)
    }
  },
  methods: {
    deletePeriode () {
      var vm = this
      axios.delete('/api/dukuntogel/periode/' + this.id)
        .then(r => {
          if (r.status == 200) {
            vm.$router.push({ name: 'periodeDukunTogel' })
          }
        }).catch(e => {
          console.log(e)
        })
    },
    fetchDetails (id) {
      var vm = this
      axios.get('/api/dukuntogel/periode/' + this.id)
        .then(r => {
          if (r.status == 200) {
            vm.periodeForm = r.data.data
          }
        }).catch(e => {
          console.log(e)
        })
    },
    onSubmit (e) {
      e.preventDefault()
    },
    submitForm (e) {
      e.preventDefault()
      var vm = this
      axios.post('/api/dukuntogel/periode', this.periodeForm)
        .then(r => {
          if (r.status == 200) {
            if (r.data.success == 'true') {
              vm.$router.push({ name: 'periodeDukunTogel' })
            } else {
              console.log(r.data.data)
              vm.$router.push({ name: 'periodeDukunTogel' })
            }
          } else {
            console.log(r.data.error)
          }
        }).catch(e => {
          console.log(e)
        })
    }
  },


}
</script>

<style>
</style>
