<template>
  <div>
    <b-overlay :show="isLoading">
      <form
        enctype="multipart/form-data"
        novalidate
        v-if="isInitial || isSaving || isSuccess"
      >
        <h1>Favicon</h1>
        <div
          class="dropbox"
          :style="`
    background-image: url('/storage/`+(faviconImage != '' ? faviconImage : '' )+`');
   `"
        >
          <input
            type="file"
            name="favicon"
            :disabled="isSaving"
            @change="filesChange($event.target.name, $event.target.files); fileCount = $event.target.files.length"
            accept="image/*"
            class="input-file"
          >
          <p v-if="isInitial">
            Drag your file(s) here to begin<br> or click to browse
          </p>
          <p v-if="isSaving">
            Uploading {{ fileCount }} files...
          </p>
        </div>
      </form>

      <form
        enctype="multipart/form-data"
        novalidate
        v-if="isInitial || isSaving || isSuccess"
      >
        <h1>Featured Image</h1>
        <div
          class="dropbox"
          :style="`
    background-image: url('/storage/`+(featuredImage != '' ? featuredImage : '' )+`');
  `"
        >
          <input
            type="file"
            name="featured-image"
            :disabled="isSaving"
            @change="filesChange($event.target.name, $event.target.files); fileCount = $event.target.files.length"
            accept="image/*"
            class="input-file"
          >
          <p v-if="isInitial">
            Drag your file(s) here to begin<br> or click to browse
          </p>
          <p v-if="isSaving">
            Uploading {{ fileCount }} files...
          </p>
        </div>
      </form>
      <form
        enctype="multipart/form-data"
        novalidate
        v-if="isInitial || isSaving || isSuccess"
      >
        <h1>Featured Image Prediksi Hari Ini</h1>
        <div
          class="dropbox"
          :style="`
    background-image: url('/storage/`+(featuredImagePrediksiHariIni != '' ? featuredImagePrediksiHariIni : '' )+`');
   `"
        >
          <input
            type="file"
            name="featuredImagePrediksiHariIni"
            :disabled="isSaving"
            @change="filesChange($event.target.name, $event.target.files); fileCount = $event.target.files.length"
            accept="image/*"
            class="input-file"
          >
          <p v-if="isInitial">
            Drag your file(s) here to begin<br> or click to browse
          </p>
          <p v-if="isSaving">
            Uploading {{ fileCount }} files...
          </p>
        </div>
      </form>

      <!-- <b-form @submit="onSubmit">
        <b-form-group label="Favicon">
          <b-form-file
            @change="onChange"
            v-model="form.favicon"
            placeholder="Pilih file atau drop ke sini"
            drop-placeholder="Drop file gambar kesini"
            accept=".jpeg, .png, .gif, .ico, .jpg"
            ref="faviconInput"
          >

          </b-form-file>

        </b-form-group>

        <b-form-group label="Featured Image">
          <b-form-file
            @change="onChange"
            v-model="form.featuredImage"
            placeholder="Pilih file atau drop ke sini"
            drop-placeholder="Drop file gambar kesini"
            accept=".jpeg, .png, .gif, .ico, .jpg"
          >

          </b-form-file>

        </b-form-group>

        <b-button
          :disabled="isFormReady"
          type="submit"
          variant="primary"
          block
        >SIMPAN</b-button>
      </b-form> -->
    </b-overlay>

  </div>
</template>

<script>
import axios from 'axios'

const STATUS_INITIAL = 0, STATUS_SAVING = 1, STATUS_SUCCESS = 2, STATUS_FAILED = 3;

export default {
  name: 'app',
  data () {
    return {
      faviconImage: '',
      featuredImage: '',
      featuredImagePrediksiHariIni: '',


      isLoading: false,
      uploadedFiles: [],
      uploadError: null,
      currentStatus: null,
      uploadFieldName: 'photos'
    }
  },
  computed: {
    isInitial () {
      return this.currentStatus === STATUS_INITIAL;
    },
    isSaving () {
      return this.currentStatus === STATUS_SAVING;
    },
    isSuccess () {
      return this.currentStatus === STATUS_SUCCESS;
    },
    isFailed () {
      return this.currentStatus === STATUS_FAILED;
    }
  },
  created () {
    this.fetch()
  },
  methods: {
    fetch () {
      this.isLoading = true
      var vm = this
      axios.get('/api/imageUpload').then(
        function (response) {
          vm.faviconImage = response.data.websiteFavicon
          vm.featuredImage = response.data.websiteFeaturedImage
          vm.featuredImagePrediksiHariIni = response.data.featuredImagePrediksiHariIni
          vm.isLoading = false
        }
      )
      vm.isLoading = true
    },
    upload (formData) {
      this.isLoading = true
      var vm = this;
      const url = `/api/imageUpload`;
      return axios.post(url, formData)
        .then(function (response) {
          switch (response.data.data.name) {
            case 'favicon':
              vm.faviconImage = response.data.data.file_name
              break;
            case 'featured-image':
              vm.featuredImage = response.data.data.file_name

              break;
            case 'featuredImagePrediksiHariIni':
              vm.featuredImagePrediksiHariIni = response.data.data.file_name

              break;

            default:
              break;
          }

          vm.currentStatus = STATUS_SUCCESS
          vm.isLoading = false


        })

    },
    reset () {
      // reset form to initial state
      this.currentStatus = STATUS_INITIAL;
      this.uploadedFiles = [];
      this.uploadError = null;
    },
    save (formData) {
      // upload data to the server
      this.currentStatus = STATUS_SAVING;

      this.upload(formData)
        .then(x => {
          this.uploadedFiles = [].concat(x);
          this.currentStatus = STATUS_SUCCESS;
        })
        .catch(err => {
          this.uploadError = err.response;
          this.currentStatus = STATUS_FAILED;
        });
    },
    filesChange (fieldName, fileList) {
      // handle file changes
      const formData = new FormData();

      if (!fileList.length) return;

      // append the files to FormData
      Array
        .from(Array(fileList.length).keys())
        .map(x => {
          formData.append(fieldName, fileList[x], fileList[x].name);
        });

      // save it
      this.save(formData);
    }
  },
  mounted () {
    this.reset();
  },
}

</script>
<style lang="scss">
.dropbox {
  outline: 2px dashed grey; /* the dash box */
  outline-offset: -10px;
  background: lightcyan;
  color: dimgray;
  padding: 10px 10px;
  min-height: 400px; /* minimum height */
  position: relative;
  cursor: pointer;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left;
}

.input-file {
  opacity: 0; /* invisible but it's there! */
  width: 100%;
  height: 200px;
  position: absolute;
  cursor: pointer;
}

.dropbox:hover {
  background: lightblue; /* when mouse over to the drop zone, change color */
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left;
}

.dropbox p {
  font-size: 1.2em;
  text-align: center;
  padding: 50px 0;
}
</style>
