<template>
  <div>
    <h2 class="text-center text-primary mb-3">Rekomendasi Togel</h2>

    <b-button
      v-if="tableItem != null && isLoading== false"
      block
      @click="editRekomendasi('new')"
      class="mt-4 mb-3"
      variant="primary"
    >
     <iconPlusCircle></iconPlusCircle>&nbsp; TAMBAH DATA
    </b-button>
    <b-button
      v-if="tableItem != null && isLoading== false"
      block
      @click="updateOrder"
      class=" mb-3"
      variant="success"
    >
     <iconCheckCircle></iconCheckCircle>&nbsp; SIMPAN RANKING
    </b-button>
    <b-button
      v-if="isLoading== false"
      block
      @click="fetch"
      class="mb-3"
      variant="info"
    >
     <iconCheckCircle></iconCheckCircle>&nbsp; REFRESH
    </b-button>
    <table
      class="table table-striped"
      v-if="isLoading==false"
    >
      <thead class="thead-light">
        <!-- <tr>
          <th scope="col">#</th>
          <th scope="col">Nama</th>
          <th
            scope="col"
            class="text-center"
          >Action</th>

        </tr> -->
      </thead>
      <draggable
        v-if="tableItem != null && isLoading== false"
        v-model="tableItem"
        @start="drag=true"
        v-bind="dragOptions"
        @end="drag=false"
        tag="tbody"
      >

        <tr
          v-for="(item, index) in tableItem"
          :key="index"
        >
          <td scope="row">{{ index+1 }}</td>
          <td>{{item.nama}}</td>
          <td class="text-center">
            <b-button-group>

              <b-button
                variant="info"
                @click="editRekomendasi(item.id)"
              >
                <iconPencil></iconPencil>
              </b-button>
              <b-button
                variant="danger"
                @click="deleteRekomendasi(item.id)"
              >
                <iconTrash></iconTrash>
              </b-button>
            </b-button-group>
          </td>

        </tr>
      </draggable>
      <h3 v-else>loading</h3>

    </table>

  </div>
</template>

<script>
import draggable from "vuedraggable";
// import axios from 'axios'
export default {
  components: {
    draggable,

  },
  data () {
    return {
      isLoading: false,
      tableItem: null,
      drag: false
    }
  },
  computed: {
    dragOptions () {
      return {
        animation: 200,
        group: "description",
        disabled: false,
        ghostClass: "ghost"
      };
    }

  },
  created () {
    this.fetch()
  },
  methods: {
    updateOrder () {
      var vm = this
      this.isLoading = true
      axios.put('/api/rekomendasi/update', this.tableItem)
        .then(function (response) {
          if (response.status == 200 && response.data.success == true) {
            console.log(response.data)
            vm.$bvToast.toast('Data Loaded', {
              variant: 'success',
              title: 'Success',
              autoHideDelay: 5000,
              appendToast: true
            })
            vm.isLoading = false

          } else {
            vm.$bvToast.toast(response.data.error.msg, {
              title: 'Kode' + response.data.error.code,
              autoHideDelay: 5000,
              appendToast: append
            })
            console.log(response.data.error)
          }
        }).catch(function (error) {
          console.log(error)
          vm.isLoading = false
        })


    },
    deleteRekomendasi (id) {
      var vm = this
      this.isLoading = true
      axios.delete('/api/rekomendasi/' + id)
        .then(function (response) {
          if (response.status == 200 && response.data.success == true) {
            vm.fetch()
            vm.$bvToast.toast('Data deleted', {
              variant: 'success',
              title: 'Success',
              autoHideDelay: 5000,
              appendToast: true
            })
            vm.isLoading = false

          } else {
            vm.$bvToast.toast(response.data.error.msg, {
              title: 'Kode' + response.data.error.code,
              autoHideDelay: 5000,
              appendToast: append
            })
            console.log(response.data.error)
          }
        }).catch(function (error) {
          console.log(error)
          vm.isLoading = false
        })

    },
    editRekomendasi (id = 'new') {
      this.$router.push({ name: 'manajemenRekomendasiEdit', params: { uuid: id } })
    },
    fetch () {
      this.isLoading = true
      var vm = this
      axios.get('/api/rekomendasi')
        .then(function (response) {
          if (response.status == 200 && response.data.success == true) {
            vm.tableItem = response.data.data

            vm.isLoading = false

          } else {
            vm.$bvToast.toast(response.data.error.msg, {
              title: 'Kode' + response.data.error.code,
              autoHideDelay: 5000,
              appendToast: append
            })
            console.log(response.data.error)
            vm.isLoading = false
          }
        }).catch(function (error) {
          console.log(error)
          vm.isLoading = false

        })

    }
  },

}
</script>

<style>
</style>
