<template>
  <div>

    <b-overlay :show="loading">
      <!-- <pre
      class="prism-editor__code"
      :class="{ ['language-html']: true }"
      ref="pre"

      :contenteditable="!readonly"

      spellCheck="false"
      autocapitalize="off"
      autocomplete="off"
      autocorrect="off"
      data-gramm="false"
      @change="updateData"
    >{{ queryData }}</pre> -->

      <prism-editor
        v-model="queryData"
        lineNumbers
        language="html"
        @change="updateData"
      ></prism-editor>
      <template v-slot:overlay>
        <div class="text-center">
          <Origami></Origami>
        </div>
      </template>
    </b-overlay>

  </div>

</template>

<script>
import "prismjs";
import "prismjs/themes/prism-coy.css";
import PrismEditor from 'vue-prism-editor'
import "vue-prism-editor/dist/VuePrismEditor.css"; // import the styles


import Origami from "vue-loading-spinner/src/components/Origami";

export default {

  components: {
    PrismEditor, Origami
  },
  props: {

    value: {
      type: String,
      default: ''
    }
  },
  data () {
    return {
      name: 'custom-html',
      isLoading: false,
      notification: null,
      query: null
    }
  },
  created () {
    this.query = this.value
    // this.fetch()
  },

  computed: {
    loading () {
      return this.query == null ? true : false
    },
    queryData: {
      get: function () {
        return this.query == null || this.query.length < 1 ? '<!-- ISI KODE DIBAWAH. -->' : this.query
      },
      set: function (newval) {
        this.query = newval

      }
    }

  },
  methods: {
    showNotif (variant = null, title = 'default', msg = 'default', append = false) {

      this.$bvToast.toast(msg, {
        title: title,
        autoHideDelay: 5000,
        variant: variant,
        appendToast: append
      })
    },

    updateData () {
      this.$emit('htmlUpdate', this.queryData)
      //   var vm = this
      //   vm.isLoading = true
      //   Axios.post('/api/settings/customjs', { data: vm.query })
      //     .then(function (response) {
      //       if (response.data.success == true) {
      //         vm.isLoading = false
      //         vm.fetch()
      //         vm.showNotif('success', 'Sukes', 'Berhasil update custom css')

      //       }
      //     }).catch(function (error) {
      //       console.log(error)
      //       vm.isLoading = false
      //       vm.notification = error
      //     })
    },

  },

}
</script>
<style >
pre[class*="language-"] > code {
  white-space: pre-wrap; /* css-3 */
  white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
  white-space: -pre-wrap; /* Opera 4-6 */
  white-space: -o-pre-wrap; /* Opera 7 */
  word-wrap: break-word; /* Internet Explorer 5.5+ */
  position: relative;
  border-left: none;
  box-shadow: none;
  background-color: #fdfdfd;
  background-image: linear-gradient(
    transparent 50%,
    rgba(69, 142, 209, 0.04) 50%
  );
  background-size: 3em 3em;
  background-origin: content-box;
  background-attachment: local;
}
.prism-editor-wrapper code {
  font-family: inherit;
  line-height: inherit;
}
.prism-editor-wrapper {
  /* position: absolute; */
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  overflow: auto;
  tab-size: 1.5em;
  -moz-tab-size: 1.5em;
}
.prism-editor__line-numbers {
  height: 100%;
  overflow: hidden;
  flex-shrink: 0;
  padding-top: 4px;
  margin-top: 0;
}
.prism-editor__line-number {
  /* padding: 0 3px 0 5px; */
  text-align: right;
  white-space: nowrap;
}
.prism-editor__code {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  flex-grow: 2;
  min-height: 100%;
  box-sizing: border-box;
  /* padding: 4px 2px 4px 8px; */
  tab-size: 4;
  -moz-tab-size: 4;
  outline: none;
}
pre.prism-editor__code:focus {
  outline: none;
}
</style>

