<template>
  <div>
    <h3 class="mb-3 text-center text-primary">Pages</h3>

    <b-overlay :show="loading">

      <b-table
        v-if="item!= null"
        striped
        hover
        :fields="fields"
        :items="item"
      >
        <template v-slot:cell(id)="row">
          <b-button-group size="sm">
            <b-button
              variant="info"
              @click="editPage(row.item.id)"
            >Edit</b-button>
            <b-button
              variant="danger"
              @click="deletePage(row.item.id)"
            >Delete</b-button>
          </b-button-group>
        </template>
      </b-table>

      <template v-slot:overlay>
        <div
          class="text-center"
          v-if="isConfirm ==  false"
        >
          <Origami></Origami>
        </div>
        <div
          v-else
          ref="dialog"
          tabindex="-1"
          role="dialog"
          aria-modal="false"
          aria-labelledby="form-confirm-label"
          class="text-center p-3"
        >
          <p><strong id="form-confirm-label">Hapus Menu?</strong></p>
          <div class="d-flex">
            <b-button
              variant="outline-danger"
              class="mr-3"
              @click="cancelDelete"
            >
              Cancel
            </b-button>
            <b-button
              variant="outline-success"
              @click="confirmDelete"
            >OK</b-button>
          </div>
        </div>
      </template>
    </b-overlay>

  </div>

</template>

<script>
import axios from "axios";
import { Origami } from "vue-loading-spinner";
export default {
  components: {
    Origami
  },
  data () {
    return {
      fields: [
        {
          key: 'title',
          sortable: true,
          label: 'Judul',
          thClass: 'text-left col-8'
        },
        {
          key: 'id',
          sortable: false,
          label: 'Aksi',
          thClass: 'text-center col-4'
        },

      ],
      mainProps: {
        center: true,
        fluidGrow: false,
        blank: true,
        blankColor: '#bbb',
        width: 100,
        height: 100,
        class: 'justify-content-center align-items-center'
      },
      deleteId: null,
      isLoading: false,
      isConfirm: false,
      item: null,
      form: {
        title: '',
        html: '',
        featured_image: '',
        tag: '',
      }

    }
  },
  created () {
    this.fetchData()
  },
  computed: {
    loading () {
      return this.isLoading == true || this.isConfirm == true ? true : false
    }

  },
  methods: {
    cancelDelete () {
      this.isConfirm = false
      this.deleteId = null

    },
    confirmDelete () {
      var idDelete = this.deleteId
      var vm = this
      this.isLoading = true
      this.isConfirm = false
      axios.post('/api/page/delete', { id: idDelete })
        .then(function (response) {
          if (response.data.success == true) {
            vm.isLoading = false
            vm.fetchData()

          }
        }).catch(function (error) {
          console.log(error)
        })

    },
    deletePage (id) {
      this.isConfirm = true
      this.deleteId = id

    },
    editPage (id) {
      var vm = this
      this.$router.push({ name: 'manajemenPageEdit', params: { id: id } })
    },
    getImageBackgroundCSS: function (img) {
      if (img && img != 'self' && img != 'nsfw') {
        return 'background-image: url(' + img + ')';
      }
      else {
        return 'background-image: url(assets/img/placeholder.png)';
      }
    },
    onSubmit (e) {
      e.preventDefault();

    },
    isEdit () {

    },
    fetchData () {
      var vm = this
      vm.isLoading = true
      axios.get('/api/page/list')
        .then(function (response) {
          if (response.data.success == true) {
            vm.item = response.data.data
            vm.isLoading = false
          }
        })
        .catch(function (error) {
          vm.isLoading = false
          console.log(error)
        })
    },
    fetchEdit () {

    }

  },

}
</script>

<style>
</style>
