<template>
  <div>
    <h2 class="text-center mb-3">TAMBAH SIDEBAR</h2>
    <b-overlay :show="isLoading">
      <b-form
        @submit="onSubmit"
        @reset="onReset"
      >
        <b-form-group
          label="Nama Sidebar"
          :invalid-feedback="invalidName"
          label-for="form-name"
        >
          <b-form-input
            id="form-name"
            name="name"
            type="text"
            required
            placeholder="Masukkan Nama Sidebar (tidak boleh kosong)"
            v-model="form.name"
            :state="nameState"
          />
        </b-form-group>
        <b-form-group
          label="Nama Sidebar"
          label-for="form-name"
        >
          <b-form-input
            id="form-title"
            name="title"
            type="text"
            placeholder="Masukkan title / judul sidebar"
            v-model="form.title"
          />
        </b-form-group>
        <b-form-group label="Text / HTML">
          <!-- <b-form-textarea
            id="form-html"
            v-model="form.html"
            placeholder="masukkan kode html disini"
            rows="3"
            max-rows="6"
          ></b-form-textarea> -->
          <custom-html
            v-if="isLoading==false"
            v-model="form.html"
            v-on:htmlUpdate="updateHtml"
          ></custom-html>
        </b-form-group>
        <b-form-group>
          <b-button
            type="submit"
            variant="primary"
            block
          >SUBMIT</b-button>
        </b-form-group>

      </b-form>
      <template v-slot:overlay>
        <div class="text-center mt-100">
          <Origami></Origami>
        </div>
      </template>
    </b-overlay>

  </div>
</template>

<script>

import axios from "axios";
import Origami from "vue-loading-spinner/src/components/Origami";
export default {
  components: {
    Origami
  },
  data () {
    return {
      isLoading: false,
      form: {
        name: '',
        title: '',
        html: ''
      },


    }
  },
  computed: {

    nameState () {
      return this.form.name.length < 3 ? false : true
    },
    invalidName () {
      return this.form.name.length < 3 ? 'Panjang nama minimal 3 huruf' : ''
    }

  },
  created () {
    this.fetchData()
  },
  methods: {
    updateHtml (value) {
      this.form.html = value
      //   console.log(this.form)

    },
    fetchData () {
      var vm = this
      this.isLoading = true
      var idSidebar = this.$route.params.id
      axios.get('/api/sidebar/details/' + idSidebar)
        .then(function (response) {
          if (response.data.success == true) {
            vm.form = response.data.data
            vm.isLoading = false
          }
        }).catch(function (error) {
          console.log(error)
        })

    },

    onSubmit (e) {
      e.preventDefault()
      this.isLoading = true
      var vm = this
      axios.post('/api/sidebar/add', this.form)
        .then(function (response) {
          if (response.data.success == true) {
            vm.$router.push({ name: 'manajemenSidebarList' })
          }
        }).catch(function (error) {
          console.log(error)
        })
    },
    onReset (e) {
      e.preventDefault()
    }
  },

}
</script>
