<template>
  <div>

    <div class="already-input">

      Prediksi kamu hari ini {{tanggal}}, sudah berhasil dikirim.
      <br>
      <div v-html="header"></div>
      <br>
      <div class="box-result">
        <p>Nama : {{current.user}}</p>
        <p>Prediksi Togel 2D HK {{tanggal}}</p>
        <br>

        <p
          class="tebakan"
          v-for="(item, index) in tebakan"
          :key="index"
        > 2D : {{ item }}
        </p>

        <br>
        <div v-html="footer"></div>

      </div>
    </div>

  </div>
</template>

<script>
export default {
  name: 'today-input',
  props: ['current', 'tanggal', 'tebakan', 'header', 'footer'],
  data () {
    return {
      debug: false

    }
  },

}
</script>
<style lang="scss" scoped>
.already-input {
  margin-top: 1.3em;

  .box-result {
    padding: 10px;
    background-color: #344461;
    min-height: 300px;
    border: 1px white;

    .tebakan {
      font-weight: bold;
    }

    .brand-image {
      height: 100px;
    }
  }
}
</style>
