<template>
  <div>

    <div
      id="isiprediksi"
      v-if="alreadyInput==false&&allowInput == true"
    >

      <div class="more">

        <!-- startif -->
        <button
          v-if="status == false"
          @click="showForm"
          class="button buttonisiprediksi"
        >
          ISI PREDIKSI
        </button>

        <div
          v-else
          class="formisiprediksi"
        >

          <h3 class="isiprediksititle">Silahkan Isi Prediksi 2D Togel {{ providerName }} Hari Ini {{ hariTanggal }}</h3>
          <div
            class="form-group"
            v-for="(item, index) in prediksi"
            :key="index"
          >

            <div class="label">
              {{index.replace('tebakan','Prediksi ') }}
            </div>
            <div class="form-input">
              <input
                type="number"
                maxlength="2"
                min="0"
                max="99"
                @keypress="updateValue(index)"
                v-model="prediksi[index]"
              >
            </div>

          </div>
          <button
            :disabled="sendDisabled"
            @click="kirimTebakan"
            type="button"
            class="buttonkirimprediksi"
          >
            KIRIM PREDIKSI
          </button>

        </div>

        <!-- endif -->
      </div>

    </div>

    <!-- kalau sudah input -->
    <div v-if="alreadyInput == true && isAllowed == true">

      <today-input
        :header="customHeader"
        :footer="customFooter"
        :current="current"
        :tanggal="tanggal"
        :tebakan="tebakan"
      ></today-input>
    </div>

    <div v-if="isAllowed == false">
      <br>
      <h3 class="close-message">{{ closeMessage }}</h3>
      <br>
    </div>

    <pre v-if="debug==true">
      Form Data : {{formData}}



      CurrentTime : {{ currentTime }}
      todayOpenAt : {{ todayOpenAt }}
      todayCloseAt: {{ todayCloseAt }}

      timeStatus : {{ timeStatus }}
      Allowed : {{ allowInput }}
      =================
      {{ prediksi }}

       </pre>
    <br>
  </div>
</template>

<script>
import TodayImport from './AlreadyInput'
export default {
  name: 'isi-prediksi',
  components: {
    'today-input': TodayImport
  },
  data () {
    return {
      x: 1,
      providerName:'',
      pengumuman: '',
      current: {
        user: null,
        periode: {

        },
        void: false
      },
      tanggal: moment().tz('Asia/Jakarta').format('DD MMMM YYYY'),
      allowed: false,
      alreadyInput: false,
      debug: false,
      currentTime: '',
      closeMessage: '',
      hariTanggal: moment().tz('Asia/Jakarta').format('dddd, DD-MM-YYYY'),

      todayOpenAt: moment().tz('Asia/Jakarta').format('YYYY-MM-DD') + ' 15:00:00',
      todayCloseAt: moment().tz('Asia/Jakarta').format('YYYY-MM-DD') + ' 22:00:00',
      tomorrowOpenAt: moment().add(1, 'days').tz('Asia/Jakarta').format('YYYY-MM-DD') + ' 15:00:00',

      // allowInput: 'kosong',

      customHeader: '',
      customFooter: '',
      status: false,
      prediksi: {
        tebakan1: '',
        tebakan2: '',
        tebakan3: '',
        tebakan4: '',
        tebakan5: '',
      }
    }
  },
  watch: {
    currentTime: function () {

    }
  },

  computed: {
    buttonIsiPrediksiClass () {
      return this.current.periode.length ? false : true
    },
    sendDisabled () {
      console.log(this.prediksi.tebakan1)
      return this.prediksi.tebakan1 == '' ||
        this.prediksi.tebakan2 == '' ||
        this.prediksi.tebakan3 == '' ||
        this.prediksi.tebakan4 == '' ||
        this.prediksi.tebakan5 == '' ? true : false

    },
    formData () {
      return {
        tanggal: moment().tz('Asia/Jakarta').format('YYYY-MM-DD'),
        tebakan: this.prediksi
      }
    },
    allowInput () {

      return moment(this.currentTime).isAfter(moment(this.todayOpenAt)) && moment(this.currentTime).isBefore(moment(this.todayCloseAt)) ? true : false
    },
    // currentTime () {
    //   return moment().format("HH:mm:ss")
    // },
    timeToOpen () {
      var ms = moment(this.tomorrowOpenAt).diff(moment(this.currentTime));
      var d = moment.duration(ms);



      return d.hours() + ":" + d.minutes() + ":" + d.seconds()
    },
    timeStatus () {
      if (moment(this.currentTime).isAfter(moment(this.todayCloseAt)) == true) {
        return this.closeMessage + ' : ' + this.timeToOpen
      }



      // var ms = moment(this.openTomorrow, "DD/MM/YYYY HH:mm:ss").diff(moment(this.now, "DD/MM/YYYY HH:mm:ss"));
      // var d = moment.duration(ms);

      // return d.hours() + ":" + d.minutes() + ":" + d.seconds()
      // const currentTime = this.waktu.jam + ":" + this.waktu.menit + ":" + this.waktu.detik
      // return this.waktu.jam > this.startAt ?
      //   :
      //   'kes'


      // 'Waktu Input Sudah Berakhir. Silahkan ikuti periode selanjutnya dalam: '  :
      // 'Waktu Input Belum Mulai Silahkan Tunggu'
    },
    isAllowed () {
      return moment(this.currentTime).isAfter(moment(this.todayCloseAt)) == true ? false : true

      // return moment().isBefore()
      // return now.value.isBefore(moment(this.startAt, 'HH:mm:ss')) ? 'disini ' : 'disana'
      // return this.waktu.jam >= this.startAt && this.waktu.jam <= this.endAt ? true : false
      //   return waktuSekarang
    }
  },
  created () {
    setInterval(this.getNow, 100)
    this.fetchCustomMessage()
    this.inputStatus()

  },

  methods: {

    inputStatus () {
      var vm = this
      axios.get('/tebakan?tanggal=' + moment().tz('Asia/Jakarta').format('YYYY-MM-DD'))
        .then(r => {
          if (r.status == 200 && r.data.success == true) {
            vm.alreadyInput = true
            vm.current.periode = r.data.data.periode
            vm.tebakan = r.data.data.tebakan
            vm.current.void = r.data.data.void
            vm.current.user = r.data.data.user
            vm.current.tebakan = r.data.data.tebakan
          } else {
            vm.current.periode = r.data.periode


            // elsehere
          }

        }).catch(e => {
          console.log(e)
        })
    },


    kirimTebakan () {
      var vm = this
      axios.post('/tebakan', this.formData)
        .then(r => {
          vm.inputStatus()


        })
        .catch(e => {
          console.log(e)
        })
    },

    fetchCustomMessage () {
      var vm = this
      axios.get('/api/periode/custommsg')
        .then(r => {
          vm.closeMessage = r.data.closeMessage,
            vm.pengumuman = r.data.pengumuman
            vm.providerName = r.data.providerName
          vm.customHeader = r.data.header
          vm.customFooter = r.data.footer
        })
        .catch(e => {
          console.log(e)
        })
    },



    getNow: function () {
      const now = moment().format('YYYY-MM-DD HH:mm:ss')
      this.currentTime = now


      // this.timestamp = dateTime;
    },
    updateValue (index) {
      this.prediksi[index].length > 1 ? this.prediksi[index] = this.prediksi[index].slice(0, 1) : ''
      // const value = event.target.value
      // console.log(value, this.amount)
      // if (String(value).length <= 2) {
      //   this.amount = value
      // }
      // this.$forceUpdate()
    },
    onChange (e) {

      e.target.value = e.target.value.replace(/[^0-9]+/g, '');



    },
    showForm () {
      this.status = !this.status
      console.log(this.status)
    }
  },
}
</script>

<style lang="scss" scoped>
.close-message {
  text-align: center;
}
div#isiprediksi {
  margin-top: 1em;
  margin-bottom: 1em;

  input {
    vertical-align: middle;
    margin: 5px 10px 5px 0;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
  }
}

.more {
  text-align: center;
}
.isiprediksititle {
  text-align: center;
  margin-bottom: 1em;
}
.buttonisiprediksi,
.buttonkirimprediksi {
  display: block;
  margin-top: 10px;
  padding: 15px;
  color: black;
  background-color: #f7be00;
  font-weight: bold;
  width: 100%;
  border: none;

  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;

  &:disabled {
    // display: none;
    background-color: grey;
  }
}

.btn-block {
  display: block;
  width: 100%;
  border: none;
  background-color: #4caf50;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
}
</style>
